<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerMapper">
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="customer_id">
        INSERT INTO customer(
            store_id,
            name,
            phone,
            address,
            crop,
            area,
            input_date,
            billing_date,
            owe,
            status,
            uid,
            province,
            city,
            county,
            street,
            img,
            identity,
            remarks,
            role
        )VALUE (
            #{store_id},
            #{name},
            #{phone},
            #{address},
            #{crop},
            #{area},
            #{input_date},
            #{billing_date},
            #{owe},
            #{status},
            #{uid},
            #{province},
            #{city},
            #{county},
            #{street},
            #{img},
            #{identity},
            #{remarks},
        <if test="role ==null">0</if>
        <if test="role !=null">#{role}</if>
        )
    </insert>

    <insert id="batchSaveCustomer" parameterType="java.util.Map">
        INSERT INTO  customer(
        store_id,
        name,
        phone,
        address,
        crop,
        area,
        input_date,
        billing_date,
        owe,
        status,
        uid,
        province,
        city,
        county,
        street,
        img,
        identity,
        remarks,
        role
        )VALUE
        <foreach collection="list" item="item" index="index" separator=",">
            (#{store_id},#{item.name},#{item.phone},"","","",#{input_date},"","0","0",#{uid},"","","","","","","","0")
        </foreach>
    </insert>

    <select id="findById" parameterType="pd" resultType="pd">
        SELECT
            customer_id,
            name,
            phone,
            address,
            crop,
            area,
            input_date,
            billing_date,
            owe,
            uid,
            province,
            city,
            county,
            street,
            prepayment,
            integral,
            img,
            identity,
            remarks,
            status,
            role
        FROM customer
        where customer_id=#{customer_id}
    </select>

    <!--,
            IFNULL(
            (
            SELECT
            SUM(money)
            FROM
            order_info o
            WHERE
            o.customer_id = c.customer_id and o.revokes='0'
            ),
            0
            ) AS totlemoney,
            IFNULL(
            (
            SELECT
            SUM(discount_money)
            FROM
            order_info o
            WHERE
            o.customer_id = c.customer_id and o.revokes='0'
            ),
            0
            ) AS discountmoney  我改的部分-->
    <select id="pageinfo" parameterType="pd" resultType="pd">
        SELECT
            c.customer_id,
            c.store_id,
            c.name,
            c.phone,
            c.address,
            c.crop,
            c.area,
            c.owe,
            c.uid,
            c.input_date,
            c.province,
            c.city,
            c.county,
            c.street,
            c.status,
            c.prepayment,
            c.integral,
            c.img,
            c.identity,
            c.remarks,
            c.role
        FROM customer c
        where c.store_id=#{store_id} and c.status!='2' and c.status!='3'
        <if test="state1 !=null and state1 !='' and state1==1">
            and (c.status='1' or c.status='4')
        </if>
        <if test="state2 !=null and state2 !='' and state2==1">
            and c.owe>0
        </if>
        <if test="address!=null and address!=''">
            and (
            POSITION(#{address} IN `province`)
            OR
            POSITION(#{address} IN `city`)
            OR
            POSITION(#{address} IN `county`)
            OR
            POSITION(#{address} IN `street`)
            OR
            POSITION(#{address} IN `address`)
            )
        </if>
        <if test="phone!=null and phone!=''">
            and (
            POSITION(#{phone} IN `name`)
            OR
            POSITION(#{phone} IN `phone`)
            )
        </if>
        <if test="status==0">
            ORDER BY c.status,c.billing_date DESC
        </if>
        <if test="status==1">
            ORDER BY c.status,c.billing_date DESC
        </if>
        <if test="status==2">
            ORDER BY c.status,c.input_date DESC
        </if>
        <!--<if test="status==0">
            ORDER BY c.status,c.billing_date DESC
        </if>
        <if test="status==1">
            ORDER BY c.status,c.billing_date DESC
        </if>
        <if test="status==2">
            ORDER BY c.status,c.input_date DESC
        </if>-->
    </select>


    <select id="dataslistPage" parameterType="page" resultType="pd">
        SELECT
        customer_id,
        store_id,
        name,
        phone,
        address,
        crop,
        area,
        owe,
        uid,
        input_date,
        province,
        city,
        county,
        street,
        prepayment,
        integral,
        img,
        identity,
        role,
        remarks
        FROM customer
        where  store_id=#{pd.store_id} and status!='2' and status!='3'
        <if test="pd.status==0">
            ORDER BY status,input_date DESC
        </if>
        <if test="pd.status==1">
            ORDER BY status,input_date
        </if>
        <if test="pd.status==2">
            ORDER BY status,input_date
        </if>
    </select>

    <update id="updateCustomer" parameterType="pd">
        UPDATE customer
        SET name=#{name},
             phone=#{phone},
             address=#{address},
             crop=#{crop},
             area=#{area},
             province=#{province},
             city=#{city},
             <if test="img!=null and IStatus!=null">
                 img=#{img},
             </if>
             <if test="remarks!=null and remarks!=''">
                remarks=#{remarks},
             </if>
             <if test="status!=null and status!=''">
                 status=#{status},
             </if>
             <if test="identity!=null and identity!=''">
                 identity=#{identity},
             </if>
        <if test="role!=null and role!=''">
            role=#{role},
        </if>
             county=#{county},
             street=#{street}
        WHERE customer_id=#{customer_id}
    </update>

    <!--  根据姓名和手机号查询是否存在客户  -->
    <select id="findNameCustomer" parameterType="pd" resultType="pd">
         SELECT
            customer_id,
            name,
            phone,
            address,
            crop,
            area,
            input_date,
            billing_date,
            owe,
            uid,
            input_date,
            store_id,
            province,
            city,
            county,
            street,
            prepayment,
            integral,
            img,
            role,
            identity,
            remarks
        FROM customer
        where store_id=#{store_id} and status!='3' and status!='2' and name=#{name} and phone=#{phone}
    </select>

    <!--  修改客户最后订单时间  -->
    <update id="updateBillingDate" parameterType="pd">
        UPDATE customer
        SET billing_date=#{billing_date}
        WHERE customer_id=#{customer_id}
    </update>


    <!--   修改客户余欠   -->
    <update id="updateOwe" parameterType="pd">
        UPDATE customer
        SET owe=#{owe}
        WHERE customer_id=#{customer_id}
    </update>

    <!--   根据用户名模糊查询    -->
    <select id="findLikename" parameterType="pd" resultType="pd">
        SELECT
	        c.customer_id,
            c.store_id,
            c.name,
            c.phone,
            c.address,
            c.crop,
            c.area,
            c.owe,
            c.uid,
            c.input_date,
            c.province,
            c.city,
            c.county,
            c.street,
            c.img,
            c.status,
            c.role,
            c.identity,
            c.remarks,
            IFNULL(
            (
                SELECT
                SUM(money)
                FROM
                order_info o
                WHERE
                o.customer_id = c.customer_id
                ),
                0
            ) AS totlemoney
        FROM
	      customer c
        WHERE
	      c.store_id=#{store_id} and c.status!='2' and c.status!='3' and
	      (
	      POSITION(#{name} IN c.remarks)
          OR
          POSITION(#{name} IN c.name)
          OR
          POSITION(#{name} IN c.phone)
          OR
          POSITION(#{name} IN c.crop)
          OR
          POSITION(#{name} IN getPY(c.name))
        )
          ORDER BY c.status,c.input_date DESC
    </select>


    <!--   查询全部    -->
    <select id="findCustomerList" parameterType="pd" resultType="pd">
        SELECT
            customer_id,
            store_id,
            name,
            phone,
            address,
            crop,
            area,
            owe,
            uid,
            input_date,
            '' as android,
            province,
            city,
            county,
            street,
            prepayment,
            integral,
            img,
        role,
            identity,
            remarks
        FROM
          customer
        WHERE store_id=#{store_id} and status!='2' and status!='3'
        <if test="status==0">
            ORDER BY status,billing_date DESC
        </if>
        <if test="status==1">
            ORDER BY status,billing_date
        </if>
        <if test="status==2">
            ORDER BY status,input_date
        </if>
    </select>

    <select id="owelistPage" parameterType="page" resultType="pd">
        SELECT
	      c.customer_id,
	      c.name,
	      c.phone,
	      c.address,
	      c.crop,
	      c.area,
	      c.owe,
	      c.uid,
	      c.input_date,
	      c.province,
	      c.city,
	      c.county,
	      c.street,
	      c.status,
	      c.prepayment,
          c.integral,
          c.img,
          c.role,
          c.identity,
          c.remarks,
	      IFNULL(
		    (
			    SELECT
				    SUM(money)
			    FROM
				    order_info o
			    WHERE
				    o.customer_id = c.customer_id
		    ),
		    0
	    ) AS totlemoney
        FROM
	    customer c
	    where store_id=#{pd.store_id} and status!='2' and status!='3' AND owe &gt; 0
        ORDER BY
        c.status,c.input_date DESC
    </select>

    <select id="findLikeowelist" parameterType="pd" resultType="pd">
        SELECT
            c.customer_id,
            c.name,
            c.phone,
            c.address,
            c.crop,
            c.area,
            c.owe,
            c.uid,
            c.input_date,
            c.province,
            c.city,
            c.county,
            c.street,
            c.prepayment,
            c.integral,
            c.img,
            c.role,
            c.identity,
            c.remarks,
            IFNULL(
		    (
			    SELECT
				    SUM(money)
			    FROM
				    order_info o
			    WHERE
				    o.customer_id = c.customer_id
		    ),
		    0
	      ) AS totlemoney
        FROM customer c
        where c.store_id=#{store_id} and c.status!='2' and c.status!='3' AND c.owe!='0' and (
              POSITION(#{name} IN c.name)
              OR
              POSITION(#{phone} IN c.name)
              OR
              POSITION(#{crop} IN c.name)
              )
        ORDER BY c.status,c.input_date DESC
    </select>


    <!--  查询重复的用户  -->
    <select id="findRepeatCustomer" parameterType="pd" resultType="pd">
        SELECT
        c.customer_id,
        c.name,
        c.phone,
        c.role,
        count(1) as count
        from (
        SELECT customer_id,`name`,phone from customer WHERE store_id=#{store_id} and status='1'  ORDER BY customer_id DESC
        ) c
        GROUP BY c.name
        HAVING count>1
    </select>

    <!--  查询重复的用户  -->
    <select id="findRepeatCustomerPhone" parameterType="pd" resultType="pd">
        SELECT
        c.customer_id,
        c.name,
        c.role,
        c.phone,
        count(1) as count
        from (
        SELECT customer_id,`name`,phone from customer WHERE store_id=#{store_id} and status='1'  ORDER BY customer_id DESC
        ) c
        GROUP BY c.phone
        HAVING count>1
    </select>

    <delete id="deleteAll" parameterType="java.util.List">
        DELETE FROM customer
        WHERE in
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.customer_id}
        </foreach>
    </delete>

    <!--  批量修改  -->
    <update id="batchUpdate" parameterType="java.util.Map">
        UPDATE customer
        SET status='2'
        WHERE customer_id IN(
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.customer_id}
        </foreach>)
    </update>

    <update id="updateStatus" parameterType="pd">
        UPDATE customer
        SET status=#{status}
        WHERE customer_id=#{customer_id}
    </update>


    <!--  查询店铺客户数量  -->
    <select id="findCount" parameterType="pd" resultType="pd">
        SELECT count(1) as count from customer where store_id=#{store_id} and status!='2' and status!='3'
        <if test="state1!=null and state1!='' and state1==1">
            and status='1'
        </if>
        <if test="state2!=null and state2!='' and state2==1">
            and owe>0
        </if>
        <if test="state3!=null and state3!='' and state3==1">
            and prepayment>0
        </if>
        <if test="address!=null and address!=''">
            and (
            POSITION(#{address} IN `province`)
            OR
            POSITION(#{address} IN `city`)
            OR
            POSITION(#{address} IN `county`)
            OR
            POSITION(#{address} IN `street`)
            OR
            POSITION(#{address} IN `address`)
            )
        </if>
    </select>
    <select id="findSumOwe" parameterType="pd" resultType="pd">
        SELECT SUM(owe) as total_owe from customer where store_id=#{store_id} and status!='2' and status!='3'
        <if test="state1!=null and state1!='' and state1==1">
            and status='1'
        </if>
        <if test="state2!=null and state2!='' and state2==1">
            and owe>0
        </if>
        <if test="state3!=null and state3!='' and state3==1">
            and prepayment>0
        </if>
        <if test="address!=null and address!=''">
            and (
            POSITION(#{address} IN `street`)
            OR
            POSITION(#{address} IN `address`)
            )
        </if>
        <if test="name!=null and name!=''">
            and (
            POSITION(#{name} IN `phone`)
            OR
            POSITION(#{name} IN `name`)
            )
        </if>
    </select>
    
    <select id="findpurchaselist" parameterType="pd" resultType="pd">
        SELECT
            customer_id,
            name,
            phone,
            address,
            crop,
            area,
            owe,
            uid,
            input_date,
            billing_date,
            province,
            city,
            county,
            street,
            prepayment,
            integral,
            img,
            identity,
        role,
            remarks
        FROM customer
        where store_id=#{store_id} and status!='2' and status!='3'
        <if test="cstatus==1">
            and customer_id not in(select customer_id from order_info where year(date) &gt;=#{date} GROUP BY customer_id)
        </if>
        <if test="cstatus==2">
            and customer_id in(select customer_id from order_info where year(date) &gt;=#{date} GROUP BY customer_id)
        </if>
        ORDER BY status,billing_date DESC
        limit #{SHU1},10
    </select>

    <select id="Purchaselistcount" parameterType="pd" resultType="pd">
        SELECT
	count(0) as count
FROM
	(
		SELECT
			customer_id,
			NAME,
			phone,
			address,
			crop,
			area,
			owe,
			uid,
			input_date
		FROM
			customer
		WHERE
			store_id =#{store_id} and status!='2' and status!='3'
        <if test="cstatus==1">
            AND customer_id NOT IN (
            SELECT
            customer_id
            FROM
            order_info
            WHERE
            YEAR (date) &gt;=#{date}
            GROUP BY
            customer_id
            )
        </if>
		<if test="cstatus==2">
            AND customer_id IN (
            SELECT
            customer_id
            FROM
            order_info
            WHERE
            YEAR (date) &gt;=#{date}
            GROUP BY
            customer_id
            )
        </if>
		ORDER BY
            status,input_date DESC
	) tmp_count
    </select>


    <!--  根据名字查询客户是否存在  -->
    <select id="findCustomerName" parameterType="pd" resultType="pd">
        SELECT
            customer_id,
            name,
            phone,
            address,
            crop,
            area,
            input_date,
            billing_date,
            owe,
            uid,
            input_date,
            store_id,
            province,
            city,
            county,
            street,
            prepayment,
            integral,
            img,
            identity,
        role,
            remarks
        FROM customer
        WHERE store_id=#{store_id} and status!='2' and status!='3' and name=#{name}
        <if test="customer_id!=null and customer_id!=''">
             and customer_id!=#{customer_id}
        </if>
    </select>

    <select id="findCustomerPhone" parameterType="pd" resultType="pd">
        SELECT
            customer_id,
            name,
            phone,
            address,
            crop,
            area,
            input_date,
            billing_date,
            owe,
            uid,
            input_date,
            store_id,
            province,
            city,
            county,
            street,
            prepayment,
            integral,
            img,
            identity,
        role,
            remarks
        FROM customer
        WHERE store_id=#{store_id} and status!='3' and status!='2' and phone=#{phone}
        <if test="customer_id!=null and customer_id!=''">
            and customer_id!=#{customer_id}
        </if>
    </select>

    <select id="findLingSan" parameterType="pd" resultType="pd">
        SELECT
            c.customer_id,
            c.store_id,
            c.name,
            c.phone,
            c.address,
            c.crop,
            c.area,
            c.owe,
            c.uid,
            c.input_date,
            c.province,
            c.city,
            c.county,
            c.street,
            c.status,
            c.prepayment,
            c.integral,
            c.img,
            c.identity,
            c.remarks,
            c.role,
            IFNULL(
            (
            SELECT
            SUM(money)
            FROM
            order_info o
            WHERE
            o.customer_id = c.customer_id
            ),
            0
            ) AS totlemoney
        FROM customer c
        where c.store_id=#{store_id} and c.status='3'
    </select>

    <select id="findQuanBuList" parameterType="pd" resultType="pd">
        SELECT
            name,
            phone
        FROM customer
        WHERE store_id=#{store_id} and (status='0' OR status='1')
  </select>

    <update id="editOwnByCustomerId">
        update customer set owe = #{owe} where customer_id  =#{customer_id}
    </update>

    <update id="editOwnByCustomerIdUp">
        update customer set owe = owe + #{owe}  where customer_id  =#{customer_id}
    </update>

    <update id="editOwnByCustomerIdDown">
        update customer set owe = owe - #{owe}  where customer_id  =#{customer_id}
    </update>

</mapper>