<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SupplierOrderProMapper">
    <insert id="save" parameterType="pd">
        INSERT INTO supplier_order_pro(
            supplier_order_info_id,
            product_name,
            product_price,
            num,
            total,
            orde_by,
            norms1,
            norms2,
            norms3
        )VALUES(
            #{supplier_order_info_id},
            #{product_name},
            #{product_price},
            #{num},
            #{total},
            #{orde_by},
            #{norms1},
            #{norms2},
            #{norms3}
        )
    </insert>
    
    <select id="findList" parameterType="pd" resultType="pd">
        SELECT
            op.*,
            p.product_img,
            p.kucun
        FROM (
              SELECT
                supplier_order_pro_id,
                supplier_order_info_id,
                replace(product_name,"XINg"," ") as product_name,
                product_price,
                num,
                nums,
                total,
                orde_by,
                norms1,
                norms2,
                norms3,
                product_id
            FROM supplier_order_pro
            where supplier_order_info_id=#{supplier_order_info_id}
            ORDER BY orde_by
        ) op
        LEFT JOIN product p on p.product_id=op.product_id
    </select>


    <insert id="batchSave" parameterType="java.util.Map">
        INSERT INTO supplier_order_pro(
            supplier_order_info_id,
            product_name,
            product_price,
            num,
            nums,
            total,
            orde_by,
            norms1,
            norms2,
            norms3,
            product_id
        )VALUE
        <foreach collection="list" item="item" index="index" separator=",">
            (#{supplier_order_info_id},#{item.product_name},#{item.product_price}
            ,#{item.num},#{item.nums},#{item.total},"0",#{item.norms1},#{item.norms2},#{item.norms3},#{item.product_id})
        </foreach>
    </insert>


    <!--  查询供应商商品的进货价  -->
    <select id="findSumProduct" parameterType="pd" resultType="pd">
        SELECT
	      SUM(total) as money
        FROM supplier_order_pro s
        LEFT JOIN product p on p.product_id=s.product_id
        where p.supplier_id=#{supplier_id}
    </select>

    <update id="editRevokes" parameterType="pd">
        UPDATE supplier_order_pro
        SET revokes='1'
        WHERE supplier_order_info_id=#{supplier_order_info_id}
    </update>
    
    <select id="findSumPro" parameterType="pd" resultType="pd">
        SELECT SUM(total) as money FROM supplier_order_pro where product_id=#{product_id} and revokes='0'
    </select>


    <select id="findQuanBu" parameterType="pd" resultType="pd">
        SELECT
            op.*,
            p.product_img,
            p.kucun,
            oi.date,
            oi.order_number,
            oi.name,
            oi.gname,
            oi.status,
            oi.phone,
            oi.total_money,
            oi.owe_money,
            oi.money,
            oi.open_bill
        FROM (
              SELECT
                supplier_order_pro_id,
                supplier_order_info_id,
                replace(product_name,"XINg"," ") as product_name,
                product_price,
                num,
                total,
                orde_by,
                norms1,
                norms2,
                norms3,
                product_id
            FROM supplier_order_pro
        ) op
        LEFT JOIN product p on p.product_id=op.product_id
        LEFT JOIN supplier_order_info oi on oi.supplier_order_info_id=op.supplier_order_info_id
        WHERE oi.store_id=#{store_id} and oi.revokes='0'
        <if test="startTime!=null and startTime!=''">
            and Date(oi.date) &gt;=#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and Date(oi.date) &lt;=#{endTime}
        </if>
        ORDER BY oi.date DESC
    </select>


    <select id="findAdminQuanBu" parameterType="pd" resultType="pd">
        SELECT
            op.*,
            p.product_img,
            p.kucun,
            oi.date,
            oi.order_number,
            oi.name,
            oi.gname,
            oi.status,
            oi.phone,
            oi.total_money,
            oi.owe_money,
            oi.money,
            oi.open_bill,
            s.name as gnames
        FROM (
            SELECT
            supplier_order_pro_id,
            supplier_order_info_id,
            replace(product_name,"XINg"," ") as product_name,
            product_price,
            num,
            total,
            orde_by,
            norms1,
            norms2,
            norms3,
            product_id
            FROM supplier_order_pro
        ) op
        LEFT JOIN product p on p.product_id=op.product_id
        LEFT JOIN supplier_order_info oi on oi.supplier_order_info_id=op.supplier_order_info_id
        LEFT JOIN store s on s.store_id=oi.store_id
        WHERE oi.revokes='0'
        <if test="store_id==null or store_id==''">
            and oi.store_id in (
            SELECT store_id FROM admin_relation where uid=#{uid}
            )
        </if>
        <if test="store_id!=null and store_id!=''">
            and oi.store_id=#{store_id}
        </if>
        <if test="startTime!=null and startTime!=''">
            and Date(oi.date) &gt;=#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and Date(oi.date) &lt;=#{endTime}
        </if>
        ORDER BY oi.date DESC
    </select>

</mapper>