<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SupplierOrderInfoMapper">
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="supplier_order_info_id">
        INSERT INTO supplier_order_info(
            supplier_id,
            store_id,
            uid,
            order_number,
            money,
            owe_money,
            total_money,
            date,
            remarks,
            phone,
            name,
            gname,
            open_bill,
            status
            <if test="discount_money !=null">
                ,discount_money
            </if>
        )VALUES (
            #{supplier_id},
            #{store_id},
            #{uid},
            #{order_number},
            #{money},
            #{owe_money},
            #{total_money},
            #{date},
            #{remarks},
            #{phone},
            #{name},
            #{gname},
            #{open_bill},
            #{status}
        <if test="discount_money !=null">
            ,#{discount_money}
        </if>
        )
    </insert>

    <select id="datalistPage" parameterType="page" resultType="pd">
        SELECT
            supplier_order_info_id,
            supplier_id,
            store_id,
            uid,
            order_number,
            money,
            owe_money,
            total_money,
            date,
            remarks,
            phone,
            name,
            gname,
            status,
            revokes,
            open_bill
        FROM supplier_order_info
        WHERE store_id=#{pd.store_id}
        <if test="pd.supplier_id!=null and pd.supplier_id!=''">
            AND  supplier_id=#{pd.supplier_id}
        </if>
        <if test="pd.startTime!=null and pd.startTime!=''">
            and DATE(date) &gt;=#{pd.startTime}
        </if>
        <if test="pd.endTime!=null and pd.endTime!=''">
            and DATE(date) &lt;=#{pd.endTime}
        </if>
        <if test="pd.name!=null and pd.name!=''">
            and (
                POSITION(#{pd.name} IN `name`)
                or
                POSITION(#{pd.name} IN `gname`)
            )
        </if>
        <if test="pd.revokes!=null and pd.revokes!=''">
            and revokes=#{pd.revokes}
        </if>
        ORDER BY date DESC
    </select>


    <select id="findLikeOrderInfo" parameterType="page" resultType="pd">
        SELECT
            supplier_order_info_id,
            supplier_id,
            store_id,
            uid,
            order_number,
            money,
            owe_money,
            total_money,
            date,
            remarks,
            phone,
            name,
            gname,
            status,
            revokes,
            open_bill
        FROM supplier_order_info
        where store_id=#{store_id} and revokes='0' and
        (
        POSITION(#{name} IN `name`)
        or
        POSITION(#{name} IN gname)
        or
        POSITION(#{name} IN phone)
        )
        <if test="status==null or status==0">
            ORDER BY date DESC
        </if>
        <if test="status==1">
            ORDER BY date
        </if>
    </select>

    <select id="findById" parameterType="pd" resultType="pd">
        select
            oi.*,
            s.advance_charge
        FROM (
            SELECT
                supplier_order_info_id,
                supplier_id,
                store_id,
                uid,
                order_number,
                money,
                owe_money,
                total_money,
                date,
                remarks,
                phone,
                name,
                gname,
                status,
                revokes,
                open_bill,
                discount_money
            FROM supplier_order_info
            WHERE supplier_order_info_id=#{supplier_order_info_id}
            ORDER BY date DESC
        ) oi
        LEFT JOIN supplier s on s.supplier_id=oi.supplier_id
    </select>

    <select id="findCount" parameterType="pd" resultType="pd">
        SELECT count(1) as count FROM supplier_order_info WHERE supplier_id=#{supplier_id} and revokes='0'
        <if test="startTime!=null and startTime!=''">
            and DATE(date) &gt;=#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and DATE(date) &lt;=#{endTime}
        </if>
        <if test="name!=null and name!=''">
            and (
                POSITION(#{name} IN `name`)
                or
                POSITION(#{name} IN `gname`)
            )
        </if>
    </select>

    <select id="findCounts" parameterType="pd" resultType="pd">
        SELECT count(1) as count FROM supplier_order_info WHERE store_id=#{store_id}
        <if test="supplier_id!=null and supplier_id!=''">
           and supplier_id=#{supplier_id}
        </if>
        <if test="startTime!=null and startTime!=''">
            and DATE(date) &gt;=#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and DATE(date) &lt;=#{endTime}
        </if>
        <if test="name!=null and name!=''">
            and (
            POSITION(#{name} IN `name`)
            or
            POSITION(#{name} IN `gname`)
            )
        </if>
    </select>

    <select id="findSupplierCount" parameterType="pd" resultType="pd">
        SELECT count(1) as count FROM supplier_order_info WHERE store_id=#{store_id}
        <if test="supplier_id!=null and supplier_id!=''">
            and supplier_id=#{supplier_id}
        </if>
    </select>

    <select id="findDateSumMoney" parameterType="pd" resultType="pd">
        SELECT SUM(money) as money FROM supplier_order_info WHERE store_id=#{store_id}
        <if test="supplier_id!=null and supplier_id!=''">
            and supplier_id=#{supplier_id}
        </if>
        <if test="startTime!=null and startTime!=''">
            and DATE(date) &gt;=#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and DATE(date) &lt;=#{endTime}
        </if>
    </select>

    <select id="findSumMoney" parameterType="pd" resultType="pd">
        SELECT SUM(money) as money FROM supplier_order_info WHERE supplier_id=#{supplier_id} and revokes='0'
    </select>
    
    <update id="editRevokes" parameterType="pd">
        UPDATE supplier_order_info
        SET revokes='1'
        WHERE supplier_order_info_id=#{supplier_order_info_id}
    </update>

    <select id="findTotalSumMoney" parameterType="pd" resultType="pd">
          SELECT SUM(money) as money FROM supplier_order_info WHERE store_id=#{store_id} and revokes='0'
   </select>


    <select id="owelistPage" parameterType="page" resultType="pd">
        SELECT
            supplier_order_info_id,
            supplier_id,
            store_id,
            uid,
            order_number,
            money,
            owe_money,
            total_money,
            date,
            remarks,
            phone,
            name,
            gname,
            status,
            revokes,
            open_bill
        FROM supplier_order_info
        WHERE store_id=#{pd.store_id} and supplier_id=#{pd.supplier_id} and owe_money>0
        ORDER BY date DESC
    </select>


    <select id="findSumOwe" parameterType="pd" resultType="pd">
        SELECT SUM(owe_money) as money FROM supplier_order_info WHERE store_id=#{store_id} and supplier_id=#{supplier_id} and status='1'
    </select>



    <select id="AdminlistPage" parameterType="page" resultType="pd">
        SELECT
            supplier_order_info_id,
            supplier_id,
            store_id,
            uid,
            order_number,
            money,
            owe_money,
            total_money,
            date,
            remarks,
            phone,
            name,
            gname,
            status,
            revokes,
            open_bill
        FROM supplier_order_info
        WHERE revokes='0'
        <if test="pd.store_id==null or pd.store_id==''">
            and store_id in (
            SELECT store_id FROM admin_relation where uid=#{pd.uid}
            )
        </if>
        <if test="pd.store_id!=null and pd.store_id!=''">
            and store_id=#{pd.store_id}
        </if>
        <if test="pd.name!=null and pd.name!=''">
            and (
            POSITION(#{pd.name} IN name)
            OR
            POSITION(#{pd.name} IN gname)
            OR
            POSITION(#{pd.name} IN phone)
            )
        </if>
        <if test="pd.startTime!=null and pd.startTime!=''">
            and DATE(date) &gt;=#{pd.startTime}
        </if>
        <if test="pd.endTime!=null and pd.endTime!=''">
            and DATE(date) &lt;=#{pd.endTime}
        </if>
        ORDER BY date DESC
    </select>

</mapper>