<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SupplierMapper">
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="supplier_id">
        INSERT INTO supplier(
            store_id,
            name,
            gname,
            phone,
            province,
            city,
            county,
            street,
            address,
            remarks,
            owe,
            date,
            billing_date,
            identity,
            img,
            management_img
        )VALUE (
            #{store_id},
            #{name},
            #{gname},
            #{phone},
            #{province},
            #{city},
            #{county},
            #{street},
            #{address},
            #{remarks},
            #{owe},
            #{date},
            #{billing_date},
            #{identity},
            #{img},
            #{management_img}
        )
    </insert>

    <select id="datalistPage" parameterType="page" resultType="pd">
        SELECT
        supplier_id,
        store_id,
        name,
        phone,
        province,
        city,
        county,
        street,
        address,
        remarks,
        owe,
        date,
        status,
        billing_date,
        gname,
        prepayment,
        identity,
        img,
        management_img
        FROM supplier
        WHERE store_id=#{pd.store_id}
        <if test="pd.state1!=null and pd.state1!='' and pd.state1==1">
            and owe>0
        </if>
        <if test="pd.state2!=null and pd.state2!='' and pd.state2==1">
            and prepayment>0
        </if>
        <if test="pd.state3!=null and pd.state3!='' and pd.state3==1">
            and status='1'
        </if>
        ORDER BY status,date DESC
    </select>

    <select id="findLikeSupplier" parameterType="pd" resultType="pd">
        SELECT
              supplier_id,
              store_id,
              name,
              phone,
              province,
              city,
              county,
              street,
              address,
              remarks,
              owe,
              date,
              status,
              billing_date,
              gname,
              prepayment,
              identity,
              img,
              management_img
        FROM supplier
        WHERE store_id=#{store_id}
         and
	    (
	      POSITION(#{name} IN `remarks`)
          OR
          POSITION(#{name} IN `name`)
          OR
          POSITION(#{name} IN `phone`)
          OR
          POSITION(#{name} IN `gname`)
          OR
          POSITION(#{name} IN getPY(gname))
          OR
          POSITION(#{name} IN getPY(`name`))
        )
        ORDER BY status
    </select>


    <select id="findById" parameterType="pd" resultType="pd">
        SELECT
            supplier_id,
            store_id,
            name,
            phone,
            province,
            city,
            county,
            street,
            address,
            remarks,
            owe,
            date,
            status,
            billing_date,
            gname,
            prepayment,
            identity,
            img,
            management_img
        FROM supplier
        WHERE supplier_id=#{supplier_id}
    </select>

    <update id="edit" parameterType="pd">
        UPDATE supplier
        SET name=#{name},
        phone=#{phone},
        province=#{province},
        city=#{city},
        county=#{county},
        street=#{street},
        address=#{address},
        <if test="status!=null and status!=''">
            status=#{status},
        </if>
        <if test="img!=null">
            img=#{img},
        </if>
        <if test="identity!=null and identity!=''">
            identity=#{identity},
        </if>
        <if test="management_img!=null and IStatus1!=null">
            management_img=#{management_img},
        </if>
        remarks=#{remarks},
        gname=#{gname}
        WHERE supplier_id=#{supplier_id}
    </update>

    <update id="editStatus" parameterType="pd">
        UPDATE supplier
        SET status=#{status}
        WHERE supplier_id=#{supplier_id}
    </update>

    <update id="editOwe" parameterType="pd">
        UPDATE supplier
        SET owe=#{owe}
        WHERE  supplier_id=#{supplier_id}
    </update>

    <select id="owelistPage" parameterType="page" resultType="pd">
        SELECT
        supplier_id,
        store_id,
        name,
        phone,
        province,
        city,
        county,
        street,
        address,
        remarks,
        owe,
        date,
        status,
        billing_date,
        gname,
        prepayment,
        identity,
        img,
        management_img
        FROM supplier
        WHERE store_id=#{pd.store_id} and owe>0
        <if test="pd.name!=null and pd.name!=''">
            and
            (
            POSITION(#{pd.name} IN `name`)
            OR
            POSITION(#{pd.name} IN `phone`)
            OR
            POSITION(#{pd.name} IN `gname`)
            )
        </if>
    </select>


</mapper>