<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderProMapper">
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="order_pro_id">
        INSERT INTO order_pro(
            order_info_id,
            product_name,
            product_price,
            purchase_price,
            num,
            total,
            orde_by,
            norms1,
            norms2,
            norms3,
            product_id,
            order_kuncun,
            all_number,
            now_number,
            date
        )VALUE (
            #{order_info_id},
            #{product_name},
            #{product_price},
            #{purchase_price},
            #{num},
            #{total},
            #{orde_by},
            #{norms1},
            #{norms2},
            #{norms3},
            #{product_id},
            #{order_kuncun},
            #{all_number},
            #{now_number},
            now()
        )
    </insert>

    <!--  批量插入  -->
    <insert id="batchSave" parameterType="java.util.Map">
         INSERT INTO order_pro(
            order_info_id,
            product_name,
            product_price,
            purchase_price,
            num,
            total,
            orde_by,
            norms1,
            norms2,
            norms3,
            product_id,
            order_kuncun,
            date
        )VALUE
        <foreach collection="list" item="item" index="index" separator=",">
            (#{order_info_id},#{item.product_name},#{item.product_price},#{item.purchase_price},#{item.num},#{item.total},"0",#{item.norms1},#{item.norms2},#{item.norms3},#{item.product_id},#{item.order_kuncun},now())
        </foreach>
    </insert>

    <!--  根据ID查询  -->
    <select id="findById" parameterType="pd" resultType="pd">
        SELECT
            order_pro_id,
            order_info_id,
            replace(product_name,"XINg"," ") as product_name,
            product_price,
            num,
            total,
            norms1,
            norms2,
            norms3,
            product_id,
            order_kuncun
        FROM order_pro
        WHERE order_pro_id=#{order_pro_id}
    </select>

    <!--  根据order_info_id查询列表  -->
    <select id="findList" parameterType="pd" resultType="pd">
        select
          op.*,
          p.product_img
        from(
            SELECT
                order_pro_id,
                order_info_id,
                replace(product_name,"XINg"," ") as product_name,
                product_price,
                purchase_price,
                num,
                total,
                norms1,
                norms2,
                norms3,
                product_id,
                order_kuncun,
                all_number,
                now_number
            FROM order_pro
            WHERE order_info_id=#{order_info_id}
            ORDER BY orde_by
        ) op
        LEFT JOIN product p on op.product_id=p.product_id
    </select>

    <!--  查询数量  -->
    <select id="findProductProCount" parameterType="pd" resultType="pd">
      SELECT
	    count(1) as count
    FROM
	  (
		  SELECT
			  op.order_info_id
		  FROM
			  order_pro op
		  LEFT JOIN order_info o on o.order_info_id=op.order_info_id
		  WHERE
			  op.product_id = #{product_id} and op.status='0' and op.revokes='0'
		  GROUP BY o.customer_id
	  ) o
    </select>

    <!--  查询商品分析  -->
    <select id="findProductPro" parameterType="pd" resultType="pd">
        SELECT
	        o.total,
	        o.count,
	        o.customer_id,
	        p.product_id,
            replace(p.product_name,"XINg"," ") as product_name,
	        p.product_price,
	        p.purchase_price,
	        p.production_enterprise,
	        p.product_img,
	        p.norms1,
	        p.norms2,
	        p.norms3,
	        c.`name`,
	        c.owe
        FROM
	      (
		    SELECT
			  sum(total) AS total,
			  count(1) as count,
			  op.product_id,
			  o.customer_id
		    FROM
			    order_pro op
		    LEFT JOIN order_info o on o.order_info_id=op.order_info_id
		  WHERE
			  op.product_id = #{product_id} and op.status='0' and op.revokes='0'
		  GROUP BY o.customer_id
		  limit #{SHU1},10
	    ) o
      LEFT JOIN product p ON p.product_id = o.product_id
      LEFT JOIN customer c on c.customer_id=o.customer_id
      <if test="name!=null and name!=''">
          where POSITION(#{name} IN c.name)
      </if>
    </select>

    <!--  查询某个商品卖了多少  -->
    <select id="findProNum" parameterType="pd" resultType="pd">
        SELECT SUM(num) as num FROM order_pro where product_id=#{product_id} and revokes='0'
    </select>

    <!--  查询某个商品卖了多少钱  -->
    <select id="findProMoney" parameterType="pd" resultType="pd">
        SELECT SUM(total) as money FROM order_pro where product_id=#{product_id} and revokes='0'
    </select>

    <!--  查询进货价  -->
    <select id="findSumProduct" parameterType="pd" resultType="pd">
        SELECT
            IFNULL(SUM(nums * purchase_price), 0) AS receivable
        FROM
        order_kuncun
        where store_id = #{store_id} and revokes='0'
        <if test="status==1 or status==2">
            and Date(date) &gt;=#{date}
        </if>
        <if test="status==3">
            and Date(date) &gt;=#{startTime} and Date(date) &lt;=#{endTime}
        </if>
    </select>


    <!--  查询进货价  -->
    <select id="findSumProducts" parameterType="pd" resultType="pd">
        SELECT
        IFNULL(SUM(num * purchase_price), 0) AS receivable
        FROM
        order_kuncun
        where store_id = #{store_id} and revokes='0'
        <if test="status==1 or status==2">
            and Date(date) &gt;=#{date}
        </if>
        <if test="status==3">
            and Date(date) &gt;=#{startTime} and Date(date) &lt;=#{endTime}
        </if>
        <if test="status==4">
            and Date(date) =#{date}
        </if>
    </select>

    <select id="findOrderProNowNumber" parameterType="pd" resultType="pd">
        select * from order_kuncun where store_id = #{store_id} and revokes='0' and now_number>0
        <if test="status==1 or status==2">
            and Date(date) &gt;=#{date}
        </if>
        <if test="status==3">
            and Date(date) &gt;=#{startTime} and Date(date) &lt;=#{endTime}
        </if>
        <if test="status==4">
            and Date(date) =#{date}
        </if>
    </select>

    
    <update id="editStatus" parameterType="pd">
        UPDATE order_pro
        SET status='1',
            num=#{num},
            total=#{total}
        WHERE order_pro_id=#{order_pro_id}
    </update>


    <update id="editOrderKuncun" parameterType="pd">
        UPDATE order_pro
        SET order_kuncun=order_kuncun-#{num}
        WHERE order_pro_id=#{order_pro_id}
    </update>

    <update id="editOrderKuncunli" parameterType="pd">
        UPDATE order_pro
        SET now_number=now_number-#{now_number}
        WHERE order_pro_id=#{order_pro_id}
    </update>

    <update id="editOrderKuncuns" parameterType="pd">
        UPDATE order_pro
        SET order_kuncun=order_kuncun+#{num}
        WHERE order_pro_id=#{order_pro_id}
    </update>

    <update id="editOrderKuncunsli" parameterType="pd">
        UPDATE order_pro
        SET now_number=now_number+#{now_number}
        WHERE order_pro_id=#{order_pro_id}
    </update>



    <select id="findLists" parameterType="pd" resultType="pd">
        SELECT
            op.order_pro_id,
            op.order_info_id,
            replace(op.product_name,"XINg"," ") as product_name,
            op.product_price,
            op.num,
            op.total,
            op.norms1,
            op.norms2,
            op.norms3,
            op.product_id,
            op.order_kuncun,
            oi.name,
            oi.phone,
            oi.total_money,
            oi.owe_money,
            oi.money,
            oi.discount_money,
            oi.date
        FROM order_pro op
        LEFT JOIN order_info oi on oi.order_info_id=op.order_info_id
        WHERE op.order_info_id=#{order_info_id} and oi.revokes='0'
        ORDER BY orde_by
    </select>

    <select id="findSum" parameterType="pd" resultType="pd">
        SELECT
            SUM(o.profit),
            SUM(o.receivable),
            SUM(o.num)
        FROM
            (
                SELECT
                    IFNULL(SUM(nums * purchase_price), 0) AS receivable,
                    IFNULL(SUM(nums * product_price), 0) AS profit,
                    IFNULL(SUM(nums), 0) AS num,
                    product_id
                FROM
                    order_kuncun
                where store_id=#{store_id} and revokes='0'
                and product_id in (
                    select product_id from product where store_id=#{store_id};
                )
            ) o
    </select>

    <!--  根据商品查询列表  -->
    <select id="findProductList" parameterType="pd" resultType="pd">
        SELECT
            op.*,
            oi.`name`,
            oi.phone,
            oi.money,
            oi.owe_money,
            oi.total_money
      FROM
        (
            SELECT
                order_pro_id,
                order_info_id,
                replace(product_name,"XINg"," ") as product_name,
                product_price,
                num,
                total,
                norms1,
                norms2,
                norms3,
                product_id,
                order_kuncun
            FROM
                order_pro
            where product_id=#{product_id} and revokes='0'
            ORDER BY date DESC
            limit #{SHU1},10
        ) op
      LEFT JOIN order_info oi on oi.order_info_id=op.order_info_id
    </select>


    <update id="editRevokes" parameterType="pd">
        UPDATE order_pro
        SET revokes='1'
        WHERE order_info_id=#{order_info_id}
    </update>

    <select id="findCount" parameterType="pd" resultType="pd">
        SELECT
          count(1) as count
            FROM
                order_pro
            where product_id=#{product_id} and revokes='0'
    </select>


    <select id="findOrderInfoProduct" parameterType="pd" resultType="pd">
        SELECT
            order_pro_id,
            order_info_id,
            replace(product_name,"XINg"," ") as product_name,
            product_price,
            num,
            total,
            norms1,
            norms2,
            norms3,
            product_id,
            order_kuncun,
            all_number,
            now_number
        FROM  order_pro
        WHERE order_info_id=#{order_info_id} and product_id=#{product_id}
    </select>


    <select id="findQuanBu" parameterType="pd" resultType="pd">
        SELECT
            op.order_pro_id,
            op.order_info_id,
            replace(op.product_name,"XINg"," ") as product_name,
            op.product_price,
            op.num,
            op.total,
            op.norms1,
            op.norms2,
            op.norms3,
            op.product_id,
            op.order_kuncun,
            oi.name,
            oi.phone,
            oi.total_money,
            oi.owe_money,
            oi.money,
            oi.discount_money,
            oi.date,
            oi.order_number,
            oi.status,
            oi.open_bill
        FROM order_pro op
        LEFT JOIN order_info oi on oi.order_info_id=op.order_info_id
        WHERE oi.store_id = #{store_id} and oi.revokes='0'
        <if test="startTime!=null and startTime!=''">
            and Date(oi.date) &gt;=#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and Date(oi.date) &lt;=#{endTime}
        </if>
        ORDER BY oi.date DESC
    </select>


    <select id="findAdminQuanBu" parameterType="pd" resultType="pd">
        SELECT
        op.order_pro_id,
        op.order_info_id,
        replace(op.product_name,"XINg"," ") as product_name,
        op.product_price,
        op.num,
        op.total,
        op.norms1,
        op.norms2,
        op.norms3,
        op.product_id,
        op.order_kuncun,
        oi.name,
        oi.phone,
        oi.total_money,
        oi.owe_money,
        oi.money,
        oi.discount_money,
        oi.date,
        oi.order_number,
        oi.status,
        oi.open_bill,
        oi.address,
        s.`name` as gname
        FROM order_pro op
        LEFT JOIN order_info oi on oi.order_info_id=op.order_info_id
        LEFT JOIN store s on s.store_id=oi.store_id
        WHERE oi.revokes='0'
        <if test="store_id==null or store_id==''">
            and oi.store_id in (
            SELECT store_id FROM admin_relation where uid=#{uid}
            )
        </if>
        <if test="store_id!=null and store_id!=''">
            and oi.store_id=#{store_id}
        </if>
        <if test="name!=null and name!=''">
            and (
            POSITION(#{name} IN oi.name)
            OR
            POSITION(#{name} IN oi.phone)
            )
        </if>
        <if test="startTime!=null and startTime!=''">
            and Date(oi.date) &gt;=#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and Date(oi.date) &lt;=#{endTime}
        </if>
        ORDER BY oi.date DESC
    </select>

    <select id="findOrderProList" parameterType="pd" resultType="pd">
        select * from order_pro where order_info_id = #{order_info_id} and revokes = 0
    </select>

    <select id="findorderByOpenBillDetail" parameterType="pd" resultType="pd">
        select * from order_pro where order_info_id = #{order_info_id}
    </select>
</mapper>