<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PersonMapper">
    <insert id="save" parameterType="pd">
        INSERT INTO person(
            name,
            province,
            date,
            uid
        )VALUE (
            #{name},
            #{province},
            #{date},
            #{uid}
        )
    </insert>

    <update id="edit" parameterType="pd">
        UPDATE person
        SET name=#{name},
            province=#{province}
        WHERE person_id=#{person_id}
    </update>

    <select id="findList" parameterType="pd" resultType="pd">
        SELECT
            name,
            province,
            date,
            person_id,
            uid
        from person
        <where>
            <if test="province!=null and province!=''">
                and POSITION(#{province} IN province)
            </if>
        </where>
    </select>
</mapper>