/* reset */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display:block;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,lable,textarea,p,blockquote,th,td {margin:0;padding:0;}
html{font-size:62.5%; }
table{border-collapse: collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal; font-weight:normal;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
.clear{clear:both;}
.clearfix:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.clearfix{ display:block;}
* html .clearfix{ height:1%;}
a{color:#2290ee;}
a:link{text-decoration:none;}
a:visited{ text-decoration:none;}
a:hover{ text-decoration:none;}
a:active{text-decoration:none;}
body, html{ width:100%; height: 100%; position:relative; -webkit-tap-highlight-color: transparent; -webkit-user-select:none; -moz-user-select:none;}
body{ color:#4c4c4c; font-size: 100%; font-family:Verdana, Tahoma, Helvetica, Arial, sans-serif; line-height:22px; overflow: hidden; }
textarea, input[type="button"],input[type="submit"],input[type="password"],input[type="text"]{-webkit-appearance:none; outline:none;-webkit-border-radius:0;border-radius:0;}

/* public */
.bg-size{ background-size: cover; background-position: center center; }
.pt-abs{ position: absolute; width:100%; height: 100%; top:0; left:0;}
/* loading */
#loading,.container{ position: absolute; width:100%; height: 100%; top:0; left:0; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/loading_bg.jpg);}
.logo{ position: absolute; width:100%; left:0; bottom: 8%;}
.logo img{ display: block; width:100%;}
.loading_main{ position: absolute; width:100%; height: 210px; top:50%; left:0; margin-top: -130px; text-align: center;}
.percent{ position: absolute; width:100%; top:15px; height: 30px; line-height: 30px; color: #fbfbfb; font-size: 1.4rem;}
.loading_desc{ color: #c6c6c6; font-size: 1.4rem;}
/* 内容 */
.container{ height: auto; min-height: 100%;}
.cover{}
.letter{ width:101%; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/letter.png); background-position: left center; opacity: 0;}
.papper{background-image: url(http://mat1.gtimg.com/news/zt2017/borther/papper.png);opacity: 0; }
.borther_logo{background-image: url(http://mat1.gtimg.com/news/zt2017/borther/brother_logo.png);opacity: 0;}
.cover_title{ height: auto;top: 28.5%;left: 23%;}
.cover_subtitle{background-image: url(http://mat1.gtimg.com/news/zt2017/borther/cover_subtitle.png);opacity: 0;}
.cover_subdesc{ position: absolute; text-align: center; top:38%; width:100%; left:0; color: #7e7e7e;opacity: 0;}
.cover_desc{ position: absolute; left:20%; top:45%; right:20%; border-bottom: 1px dashed #bdbdbd;border-top: 1px dashed #bdbdbd; font-size: 1.4rem; color: #7e7e7e; padding: 10px 0;opacity: 0;}
.start{ position: absolute; top:67%; width:100%; height: 45px; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/start.png); background-size: auto 100%; background-position: center center; background-repeat: no-repeat;opacity: 0;}

.content{ height: auto; min-height: 100%;}
.content_letter{ width:101%; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/letter.png); background-position: left center;}
.content_papper{background-image: url(http://mat1.gtimg.com/news/zt2017/borther/papper.png);}

.main{ position: relative; height: 100%;}
.question_top{margin: 0 16% 0 24%;padding-top: 23%; }
.question_num{ padding-bottom: 5px; }
.question_num p{ text-align: center; color: #8a8a8a; font-size: 1.4rem;}
.question_num>div{ position: relative; text-align: center;}
.question_num>div:before,.question_num>div:after{ position: absolute; content: ""; top:10px;height: 1px; font-size: 0; background-color: #c9c9ca;}
.question_num>div:before{ left:0; width:30%; }
.question_num>div:after{  right:0; width:30%; }
.question_num>div strong{ font-size: 2.2rem; position: relative;}
.question_title{ font-size: 2.0rem; color: #212121; line-height: 26px;}
.question_title p{ padding-bottom: 5px;}
.question_title p img{ display: block; width: 100%;}
.question_title h3{ padding-bottom: 5px;}
.question_title h3 article{ width:122px;  position: relative; margin: auto;}
.question_title h3 article img{ display: block; width:100%;}
.question_title h3 article span{ position: absolute; top: 2px; left: 33px; color: #FFFFFF; font-size: 1.2rem; }
.question_title h3 article em{ position: absolute;top: -2px;right: -8px; background-color: #fe2406; display: inline-block; width:5px; height: 5px;-webkit-border-radius:50%; -moz-border-radius: 50%; border-radius: 50%;}


.question_title h4{ padding-bottom: 5px;}
.question_title h4 article{ width:170px; position: relative; margin: auto;}
.question_title h4 article img{ display: block; width:100%;}
.question_title h4 article em{ position: absolute; width:30px; height: 30px; top:50%; left:50%; margin: -15px 0 0 -15px; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/play_btn.png); background-size: 100% 100%;}
.text_audio_tip{ text-align: center; color: #8a8a8a; font-size: 1.4rem; padding-top: 10px;}

.question_main{margin: 0 13% 0 18%;}
.question_main ul li>em{ position: absolute; top:-2px; left:-5px; width:50px; height: 50px; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/rightorerr.png); background-size: 50px 175px; background-repeat: no-repeat; display: none;}
.question_main ul li>em.right{ background-position: 0 0;}
.question_main ul li>em.error{ background-position: 0 -114px;}
/* 文字文字 */
.question_text,.question_text_pic,.question_text_audio{ margin: 0; padding: 0;}
.question_text li,.question_text_audio li{ margin-top: 12%; padding-left: 30px; position: relative; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/code.png); background-size: 32px 280px; background-repeat: no-repeat;}
.question_text li.code_0,.question_text_audio li.code_0{ background-position: 0 2px;}
.question_text li.code_1,.question_text_audio li.code_1{ background-position: 0 -57px;}
.question_text li.code_2,.question_text_audio li.code_2{ background-position: 0 -115px;}
.question_text li.code_3,.question_text_audio li.code_3{ background-position: 0 -174px;}
.question_text li.active,.question_text_pic li.active,.question_text_audio li.active{background-image: url(http://mat1.gtimg.com/news/zt2017/borther/code_active.png);}
.question_text li.code_0.active,.question_text_audio li.code_0.active{ background-position: 0 2px;}
.question_text li.code_1.active,.question_text_audio li.code_1.active{ background-position: 0 -57px;}
.question_text li.code_2.active,.question_text_audio li.code_2.active{ background-position: 0 -115px;}
.question_text li.code_3.active,.question_text_audio li.code_3.active{ background-position: 0 -174px;}
.question_text li>div{ padding:5px 8px; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/hong.png); background-size: auto 30px; background-repeat: repeat; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; font-size: 1.4rem; color: #ffffff; line-height: 20px; position: relative;}
.question_text li>div::after{ position: absolute; top:2px; left:2px; content: ""; width:100%; height: 30px; border-bottom: 1px dashed #c5472b; border-right: 1px dashed #c5472b; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.question_text li.active>div,.question_text_audio li.active>div{ background-image: url(http://mat1.gtimg.com/news/zt2017/borther/zong.png);}
.question_text li.active>div::after,.question_text_audio li.active>div::after{border-bottom: 1px dashed #ab7c40; border-right: 1px dashed #ab7c40;}

.page_num{ position: absolute; bottom: 10%;right: 10%; color: #f74127;}

/* 文字图片 */
.question_text_pic{ margin: 0; padding: 0; font-size: 0; text-align: center;}
.question_text_pic li{ display: inline-block; position: relative; vertical-align: top; width:40%; font-size:1.4rem;background-image: url(http://mat1.gtimg.com/news/zt2017/borther/code.png); background-size: 32px 280px; background-repeat: no-repeat; margin: 6px 9px; padding-top: 25px;}
.question_text_pic li>div img{ display: block; width:100%; border: 2px solid transparent;}
.question_text_pic li.active>div img{ display: block; width:100%; border: 2px solid #bf863d;}

.question_text_pic li.code_0{ background-position: -4px 1px;}
.question_text_pic li.code_1{ background-position: -4px -59px;}
.question_text_pic li.code_2{ background-position: -4px -117px;}
.question_text_pic li.code_3{ background-position: -4px -175px;}
.question_text_pic li.code_0.active{ background-position: -4px 1px;}
.question_text_pic li.code_1.active{ background-position: -4px -59px;}
.question_text_pic li.code_2.active{ background-position: -4px -117px;}
.question_text_pic li.code_3.active{ background-position: -4px -175px;}





/* 文字音频 */
.question_text_audio li>h3{ float: left;}
.question_text_audio li>h3 article{ width:122px;  position: relative; margin: auto;}
.question_text_audio li>h3 article img{ display: block; width:100%;}
.question_text_audio li>h3 article span{ position: absolute; top: 5px; left: 33px; color: #FFFFFF; font-size: 1.2rem; }
.question_text_audio li>h3 article section{ position: absolute; top: -2px;right: -8px; background-color: #fe2406; display: inline-block; width:5px; height: 5px;-webkit-border-radius:50%; -moz-border-radius: 50%; border-radius: 50%;}
.question_text_audio li>h3 article audio{ text-indent: 9999em;}
.question_text_audio li>div{ float: left; padding:5px 8px; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/hong.png); background-size: auto 30px; background-repeat: repeat; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; font-size: 1.4rem; color: #ffffff; line-height: 20px; position: relative;margin-left: 30px;}
.question_text_audio li>div::after{ position: absolute; top:2px; left:2px; content: ""; width:100%; height: 30px; border-bottom: 1px dashed #c5472b; border-right: 1px dashed #c5472b; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}

.question_text_audio li>h3 article audio,.question_title h3 article audio{text-indent: 9999em;}

/* 结果页 */
.result{}
.res_borther{background-image: url(http://mat1.gtimg.com/news/zt2017/borther/brother_logo.png);}
.result_01{background-image: url(http://mat1.gtimg.com/news/zt2017/borther/result_01.png);}
.result_02{background-image: url(http://mat1.gtimg.com/news/zt2017/borther/result_02.png);}
.result_03{ position: absolute; top:22.5%; width:100%; text-align: center; font-size: 3.6rem; color: #c13927;}
.result_03:after{ position: absolute; content: ""; width:90px; height: 15px; bottom: -21px; left:50%; margin-left: -45px; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/result_03.png); background-size: 100% 100%;}
.result_04{ position: absolute; top:46%; left:20%; right:20%; color: #7e7e7e; font-size: 1.4rem; border-bottom: 1px dashed #b6b6b6; padding-bottom: 6px;}
.result_05{ background-image: url(http://mat1.gtimg.com/news/zt2017/borther/result_05.png);}
.result_06{background-image: url(http://mat1.gtimg.com/news/zt2017/borther/result_06.png);}
.result_btns{ position: absolute; width:100%; text-align: center; top:65%; left:0;}
.result_btns span{ display: inline-block; width:125px; height: 40px; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/btns.png); background-size: 125px 288px;margin: 0 10px;}
.result_btns span.choujiang{ background-position: 0 0;}
.result_btns span.chongci{ background-position: 0 -72px;}
.result_btns span.fenxiang{ background-position: 0 -158px;}
.result_btns span.zaida{ background-position: 0 -248px;}
.result_btns span.zaifenxiang{ background-position: 0 -158px;}

.close_video{ position: absolute; width:50px; height: 50px; top:5px; right:5px; background-image: url(http://mat1.gtimg.com/news/zt2017/borther/closed_video.png); background-size: 100% 100%;}


.shadow_layout{ position: fixed; width:100%; height: 100%; top:0; left:0; background-color: rgba(0,0,0,0.8); display: none;}
.wx_share{ position: fixed; top:0; left:0; width:100%; height: 100%; background-image: url(http://mat1.gtimg.com/news/aizi/wx_shares.png); background-size: 100% auto; background-repeat: no-repeat; z-index: 2000; display: none;}
.shadow_video{}
.mod_player{ position: fixed; width:100%; height: 100%; top:50%; left:0;}







/* iphone6 plus */
@media  (min-width:376px){
    .cover_title{ top:29%; left:25%;}
}
/* iphone6 */
@media (min-width:361px) and (max-width:375px){

}
/* note2/3 */
@media (min-width:321px) and (max-width:360px){
    .cover_title{top: 28%;left: 22%;}
}
/* iphone5/5s */
@media (max-height:504px){
    .start{ top:70%}
    .cover_title{-webkit-transform: scale(0.8,0.8);transform: scale(0.8,0.8); top: 24%;left: 15%;}
    .question_num>div:before,.question_num>div:after{ width:27%;}
    .question_text li,.question_text_audio li{margin-top: 7%;}
    .question_text_audio li>div{margin-left: 12px;}
    .result_04{ font-size: 1.2rem;line-height: 18px;}
    .question_text li>div{ font-size: 1.2rem;}
    .question_main{margin: 0 13% 0 15%;}
}
/* iphone4/4s */
@media (max-height:416px) {
    .cover_subdesc{ top:35%;}
    .start{ top:75%}
    .cover_title{-webkit-transform: scale(0.8,0.8);transform: scale(0.8,0.8); top: 18%;left: 15%;}
    .question_num>div:before,.question_num>div:after{ width:27%;}
    .question_text li,.question_text_audio li{margin-top: 7%;}
    .question_top{ padding-top: 7%;}
    .page_num{ bottom: 2%;}
    .question_text_audio li>div{ margin-left: 12px;}
    .result_03{top: 15.5%;}
    .result_04{ font-size: 1.2rem;line-height: 18px;}
    .result_btns{ top:67%;}
    .question_text li>div{ font-size: 1.2rem;}
    .question_main{margin: 0 13% 0 15%;}
}





/* 动画库 */
.fadeInLeft{-webkit-animation:fadeInLeft .4s ease-in forwards;animation:fadeInLeft .4s ease-in forwards}
.fadeInDown{-webkit-animation:fadeInDown .5s ease-in 0.5s forwards;animation:fadeInDown .5s ease-in 0.5s forwards}
.fadeInUp{-webkit-animation:fadeInUp 1s ease-in 2.5s forwards;animation:fadeInUp 1s ease-in 2.5s forwards}
.fadeInDowndey{-webkit-animation:fadeInDowndey 1s ease-in 2.5s forwards;animation:fadeInDowndey 1s ease-in 2.5s forwards}
.fadeInDowndey2{-webkit-animation:fadeInDowndey2 .5s ease-in 3.5s forwards;animation:fadeInDowndey2 .5s ease-in 3.5s forwards}
.fadeOut{-webkit-animation:fadeOut .4s linear forwards;animation:fadeOut .4s linear forwards}
.fadeIn{-webkit-animation:fadeIn .4s ease-in 3.5s forwards;animation:fadeIn .4s ease-in 3.5s forwards}
.zoomIn{-webkit-animation:zoomIn .4s ease-in 3.5s forwards;animation:zoomIn .4s ease-in 3.5s forwards}



@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInDowndey {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -150%, 0);
        transform: translate3d(0, -150%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDowndey {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -150%, 0);
        transform: translate3d(0, -150%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


@-webkit-keyframes fadeInDowndey2 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -60%, 0);
        transform: translate3d(0, -60%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDowndey2 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -60%, 0);
        transform: translate3d(0, -60%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}
}
@keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}
}
@-webkit-keyframes fadeOut{
    0%{opacity:1}
    100%{opacity:0}
}
@keyframes fadeOut{
    0%{opacity:1}
    100%{opacity:0}
}


@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50%,100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50%,100% {
        opacity: 1;
    }
}










/*  |xGv00|9cfd0e9766c2db52af03d4d1967c6448 */