/* 灞忓箷鍒嗚鲸鐜囨渶澶у搴︿负700鏃� */
/* 閫傜敤浜巌phone6灞忓箷鍒嗚鲸鐜� */
#header{
	height:480px;
}
.wrapper,.nav{
	display:none;
	float:none;
}
.logo{
	float:none;
	margin:0 auto;
	line-height:48px;
}
.header-bottom {
    height:48px;
    margin-top:-2%;
}
.logo img{
	height:20px;
}
.oppo-img{
	width:100%;
	float:none;
}
.top-l{
	display:none;
}
.online{
	margin-left:50%;
	width:35%;
}
.online img{
	width:130%;
}
#footer{
	width:100%;
	height:50%;
}
.tel{
	width:48%;
	margin-top:-16%;
	margin-bottom:7%;
	margin-left:0%;
}
.footer-wrapper p{
	width:85%;
	text-align:center;
}

.fixed-top:hover .back{
	display:none;
}
.pen:hover .advice{
	display:none;
}

/* 闅愯棌鐨勪簩绾ц彍鍗�*/
.user{
	display:block;
}
.list{
	display:block;
}