*{
	margin:0;
	padding:0;
	list-style:none;
}
body{
	color:#393939;
	font-family: "Myriad Pro", Arial, "FZLanTingHei-R-GBK", 鏂规鍏颁涵榛�, "Microsoft YaHei", 寰蒋闆呴粦, STHeiti, 鍗庢枃榛戜綋, SimSun, 瀹嬩綋, sans-serif;
}
a:link{
	text-decoration:none;
}
.clear{
	clear:both;
}
/* header 閮ㄥ垎 */
#header{
	width:100%;
	height:108px;
}
.wrapper{
	width:100%;
	height:29px;
	background:#009B72
}
.wrapper ul{
	margin-left:80%;
}
.wrapper ul li{
	float:left;
	border-left:1px solid #47b488;
}
.wrapper a{
	font-size:14px;
    color:#fff;
    display:block;
	line-height:150%;
    text-align:center;
    padding:0.3em 0.8em;
}
.wrapper ul li:hover{
	background:#47b488;
}
.header-bottom{
	width:100%;
    height:79px;
    background:#fff;
}
.logo{
	width:20%;
    padding:1.9% 1%;
    display:block;
	float:left;
	margin-left:5%;
}
.nav{
	width:40%;
	height:75px;
	margin-left:58%;
}
.nav ul li{
	float:left;
	line-height:5em;
	padding:0 2.9%;
}
.nav a{
	color:#7B7B7B;
	font-size:14px;
}
.nav li:first-child a{
	color:#393939;
    font-weight:bold;
	border-bottom:2px solid #2aad6f;
	padding:20% 0%;
}
.nav ul li a:hover{
	color:#393939;
}
/* header閮ㄥ垎 缁撴潫 */

/* 闅愯棌鐨勪簩绾ц彍鍗�*/
.user{
	display:none;
}
.list{
	display:none;
}

.header-bottom{
	position:relative;
}
.user{
	width:25px;
	position:absolute;
	top:13px;
	right:10px;
	z-index:100;
}
.user img,.list img{
	width:100%;
	line-height:5%;
}

.user-menu{
	width:5.5em;
	position:absolute;
	top:37px;
	right:0;
	background:#fff;
	opacity:0.7;
	z-index:101;
	display:none;
}
.user-menu ul li{
	padding:0.7em 0;
	text-align:center;
	border-bottom:solid 1px #b1d7a8;
}
.user-menu ul{
	width:100%;
	box-shadow:1px 1px 2px #ededed;
}
.user .user-menu a{
	color:#008b56;
}
.user:hover .user-menu{
	display:block;
}

.list{
	width:30px;
	position:absolute;
	top:15px;
	left:1%;
	z-index:100;
}
.list-nav{
	width:1280px;
	height:60px;
	position:absolute;
	left:-9px;
	top:40px;
	background:#fff;
	opacity:0.7;
	z-index:101;
	display:none;
}
.list-nav ul li{
	float:left;
	line-height:60px;
	padding:0 17px;
	margin-left:5px;
}
.list:hover .list-nav{
	display:block;
}
.list-nav a{
	color:#1f8657;
	font-size:1.1rem
}
.first a{
	color:#66c397;
}
/*闅愯棌鐨勪簩绾ц彍鍗� 缁撴潫*/


/* main 閮ㄥ垎 */

#main{
	width:100%;
	position:relative;
	overflow:hidden;
	z-index:10;
}
.content{
	width:300%;
	position:absolute;
	left:0;
	top:0;
	-webkit-animation:oppo 8s 0s ease infinite normal;
}
.main img{
	width:100%;
}
.content img{
	width:33.33%;
}
@keyframes oppo{
		0%{left:0;}
		33.33%{left:-100%;}
		66.66%{left:-200%;}
		100%{left:-300%;}
}

.picture{
	width:100%;
	height:100%;
	padding-top:0.3%;
	position:relative;
	z-index:50;
}
.oppo-img{
	width:33%;
	height:100%;
	float:left;
	padding-left:0.5%;
}
.picture div:first-child{
	margin-left:-0.5%;
}
/* main閮ㄥ垎 缁撴潫 */

/* footer 閮ㄥ垎 */
#footer{
	width:100%;
	height:373px;
	background:#f6f6f6;
}
#footer header{
	width:100%;
}
.top-l{
	width:63%;
	margin:4% 0;
	margin-left:3%;
	float:left;
	display:inline-block;
}
.top-l ul{
	float:left;
	width:24%;
}
.top-l ul li{
	padding-top:3%;
}
.top-l ul li:first-child{
	padding:10% 0;
}
.top-l ul li a{
	font-size:0.9em;
	color:#363636;
}
.top-l ul li:first-child a{
	color:#363636;
	font-weight:bold;
	font-size:0.95em;
}

.tel p:nth-child(1){
	font-size:1.8em;
    padding-top:5%;
}
.online,.tel{
	width:26%;
	margin-left:66%;
	text-align:center;
}
.online img{
	margin-top:25%;
}
.footer-info{
	width:95%;
	height:78px;
	clear:both;
	margin:0 auto;
	font-size:0.8em;
	border-top:1px solid #cfcfcf;
}
.footer-wrapper{
	width:100%;
	height:30%;
	margin-top:2%;
	color:#7b7b7b;
}
.focus{
	float:right;
	margin-right:12%;
}
.mark{
	width:1.85em;
	height:24px;
	display:inline-block;
	vertical-align:middle;
	background:url(../images/mark.png) repeat scroll 0% 0% transparent;
	margin:0 0 0.5% 0.5%;
} 
.mark:hover{
	background:url(../images/mark.png) repeat scroll 100% 0% transparent;
}
/* footer閮ㄥ垎 缁撴潫 */

/* 鍙充晶缁戝畾鏍� */
.fixed{
	width:2.9em;
	height:74px;
	position:fixed;
	bottom:1%;
    right:2%;
}
.fixed-top{
	width:2.8em;
	height:36px;
	line-height:48px;
	text-align:center;
	background-color:#ededed;
	margin-bottom:0.1em;
}
.pen{
	width:2.8em;
	height:36px;
	line-height:48px;
	text-align:center;
	background-color:#ededed;
}
.back{
	width:7.5em;
	height:37px;
	line-height:37px;
	position:absolute;
	top:0;
	right:0;
	background:#47b488;
	margin-bottom:2%;
	display:none;
}
.advice{
	width:7.5em;
	height:37px;
	line-height:37px;
	position:absolute;
	bottom:0;
	right:0;
	background:#47b488;
	display:none;
}
.back img,.advice img{
	margin-left:7%;
	margin-top:2%;
}
.fixed-top:hover .back{
	display:block;
}
.pen:hover .advice{
	display:block;
}
.fixed a{
	color:#fff;
	font-size:0.9em;
}
/* 鍙充晶缁戝畾鏍� 缁撴潫 */