<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ValidationYzmMapper">

    <select id="findyzm" parameterType="pd" resultType="pd">
        select * from validation_yzm where phone = #{phone} and #{now_time} > start_time and end_time > #{now_time} and is_use = 0
    </select>

    <insert id="saveyzm">
        insert into validation_yzm (start_time,end_time,phone,code) values (#{start_time},#{end_time},#{phone},#{code})
    </insert>

    <select id="findyzmBycode" parameterType="pd" resultType="pd">
        select * from validation_yzm where phone = #{phone} and #{now_time} > start_time and end_time > #{now_time} and is_use = 0 and code = #{code}
    </select>

    <update id="editCode">
        update validation_yzm set is_use = 1 where phone = #{phone} and code = #{code}
    </update>

    <update id="editStore" parameterType="pd">
        update store
        <set>
            <if test="name !=null and name !=''">name = #{name},</if>
            <if test="address !=null and address !=''">address = #{address},</if>
            <if test="province !=null and province !=''">province = #{province},</if>
            <if test="city !=null and city !=''">city = #{city},</if>
            <if test="county !=null and county !=''">county = #{county},</if>
            <if test="door_first !=null and door_first !=''">door_first = #{door_first},</if>
            <if test="license_img !=null and license_img !=''">license_img = #{license_img},</if>
            <if test="is_pass !=null and is_pass !=''">is_pass = #{is_pass},</if>
        </set>
        where store_id = #{store_id}
    </update>

    <select id="findRegisterList" resultType="pd" parameterType="pd">
        select * from store
        <where>
            <if test="is_pass !=null">
                is_pass = #{is_pass}
            </if>
        </where>
        order by id desc
    </select>

    <select id="selectResult" parameterType="pd" resultType="pd">
        select is_pass from store where store_id = #{store_id}
    </select>
</mapper>