<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysAppUserMapper">
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="uid">
          INSERT INTO sys_app_user(
              username,
              password,
              salt,
              name,
              openid,
              unionid,
              status,
              store_id,
              date,
              province,
              city,
              district,
              phone,
              address,
              corp,
              person_id,
              login_date,
              `identity`,
              diedstatus
          ) VALUE (
              #{username},
              #{password},
              #{salt},
              #{name},
              #{openid},
              #{unionid},
              #{status},
              #{store_id},
              #{date},
              #{province},
              #{city},
              #{district},
              #{phone},
              #{address},
              #{corp},
              #{person_id},
              #{login_date},
              #{identity},
              #{diedstatus}
          )
    </insert>

    <select id="findById" parameterType="pd" resultType="pd">
        SELECT
              uid,
              username,
              password,
              salt,
              name,
              openid,
              unionid,
              status,
              store_id,
              province,
              city,
              district,
              phone,
              address,
              corp,
              identity
        FROM sys_app_user
        where uid=#{uid}
    </select>

    <select id="datalistPage" parameterType="page" resultType="pd">
          SELECT
              s.uid,
              s.username,
              s.password,
              s.salt,
              s.name,
              s.openid,
              s.unionid,
              s.status,
              s.store_id,
              s.date,
              s.province,
              s.city,
              s.district,
              s.phone,
              s.identity,
              s.address,
              s.person_id,
              s.corp,
              ss.name as store_name,
              p.NAME as person_name,
              ss.is_pass
          FROM sys_app_user s
          LEFT JOIN store ss on ss.store_id=s.store_id
          LEFT JOIN sys_user p on p.USER_ID=s.person_id
          where s.is_delete = 0
              <if test="pd.province!=null and pd.province!=''">
                  and s.province=#{pd.province}
              </if>
              <if test="pd.status==0 and pd.status!=''">
                  and s.person_id=#{pd.USER_ID}
              </if>
              <if test="pd.city!=null and pd.city!=''">
                  and s.city=#{pd.city}
              </if>
              <if test="pd.person_id!=null and pd.person_id!=''">
                  and s.person_id=#{pd.person_id}
              </if>
              <if test="pd.name!=null and pd.name!=''">
                  and(
                    POSITION(#{pd.name} IN s.name)
                    OR
                    POSITION(#{pd.name} IN s.phone)
                    OR
                    POSITION(#{pd.name} IN p.name)
                    OR
                    POSITION(#{pd.name} IN s.address)
                  )
              </if>
    </select>

    <select id="login" parameterType="pd" resultType="pd">
        SELECT
              s.uid,
              s.username,
              s.password,
              s.salt,
              s.name,
              s.openid,
              s.unionid,
              s.status,
              s.store_id,
              s.province,
              s.city,
              s.district,
              s.phone,
              s.identity,
              s.diedstatus,
              s.address,
              s.corp,
              st.name sname,
              st.address as saddress,
              st.number,
              st.phone
          FROM sys_app_user s
          LEFT JOIN store st on st.store_id=s.store_id
          where username=#{username} and password=#{password} AND diedstatus = 0 and is_delete =0
    </select>

    <update id="editPassword" parameterType="pd">
        UPDATE sys_app_user
        SET password=#{password}
        where uid=#{uid}
    </update>

    <select id="s" parameterType="pd" resultType="pd">
        SELECT
              uid,
              username,
              password,
              salt,
              name,
              openid,
              unionid,
              status,
              store_id,
              province,
              city,
              district,
              phone,
              address,
              corp,
              identity,
              diedstatus
        FROM sys_app_user
        where username=#{username} and is_delete =0
    </select>


    <select id="findUserByStore" parameterType="pd" resultType="pd">
        SELECT
        uid,
        username,
        password,
        salt,
        name,
        openid,
        unionid,
        status,
        store_id,
        province,
        city,
        district,
        phone,
        address,
        corp,
        identity,
        diedstatus
        FROM sys_app_user
        where store_id=#{store_id} AND identity = 3 and is_delete =0
        <if test="uid !=null">
            and uid = #{uid}
        </if>
    </select>

    <select id="findBySId" parameterType="pd" resultType="pd">
        SELECT
        s.uid,
        s.username,
        s.password,
        s.salt,
        s.name,
        s.openid,
        s.unionid,
        s.status,
        s.store_id,
        s.province,
        s.city,
        s.district,
        s.phone,
        s.identity,
        s.address,
        s.corp,
        ss.qr_code,
        ss.business_img,
        ss.name as sname,
        ss.phone as sphone,
        ss.address as saddress,
        ss.province as sprovince,
        ss.city as scity,
        ss.county as scounty,
        ss.street as street
        FROM sys_app_user s
        LEFT JOIN store ss on ss.store_id=s.store_id
        where s.uid=#{uid} and is_delete =0
        <if test="store_id !=null">
            and ss.store_id = #{store_id}
        </if>
    </select>
    
    <update id="update" parameterType="pd">
        UPDATE sys_app_user
        <set>
        <if test="name != null">name=#{name},</if>
        <if test="openid != null">openid=#{openid},</if>
        <if test="unionid != null">unionid=#{unionid},</if>
        <if test="province != null">province=#{province},</if>
        <if test="city != null">city=#{city},</if>
        <if test="district != null">district=#{district},</if>
        <if test="address != null">address=#{address},</if>
        <if test="person_id != null">person_id=#{person_id},</if>
        <if test="phone != null">phone=#{phone},</if>
        <if test="corp != null">corp=#{corp},</if>
        <if test="identity != null">identity=#{identity},</if>
        <if test="diedstatus  != null">diedstatus =#{diedstatus },</if>
        <if test="password  != null">password =#{password},</if>
        <if test="is_delete  != null">is_delete =#{is_delete},</if>
        </set>
        where uid=#{uid}
    </update>


    <delete id="delete" parameterType="pd">
        DELETE FROM sys_app_user where uid=#{uid}
    </delete>

    <select id="findUserList" parameterType="pd" resultType="java.lang.String">
          select
            username
          FROM  sys_app_user
          WHERE 1=1
          <if test="status==0">
              and person_id=#{USER_ID}
          </if>
    </select>

    <update id="editOpenId" parameterType="pd">
        UPDATE sys_app_user
        SET openid=#{openid},
            unionid=#{unionid}
        where uid=#{uid}
    </update>

    <select id="findQuanBu" parameterType="pd" resultType="pd">
        SELECT
            username,
            store_id,
            uid
        FROM sys_app_user and is_delete =0
    </select>

    <update id="editLoginDate" parameterType="pd">
        UPDATE sys_app_user
        SET login_date=#{login_date}
        where uid=#{uid}
    </update>

    <select id="findcostor" parameterType="pd" resultType="pd">
        select * from customer where name = #{name} and is_delete =0
    </select>

    <select id="findUserName" parameterType="pd" resultType="pd">
        SELECT
              uid,
              username,
              password,
              salt,
              name,
              openid,
              unionid,
              status,
              store_id,
              province,
              city,
              district,
              phone,
              address,
              corp,
              identity,
              diedstatus
        FROM sys_app_user
        where username=#{username} and is_delete =0
    </select>

    <select id="findall" parameterType="pd" resultType="pd">
        select uid,store_id from sys_app_user where is_delete =0
    </select>

    <update id="editStoreId">
        update sys_app_user set store_id = #{store_id} where uid = #{user_id}
    </update>

    <select id="findallUser" resultType="pd">
        select username from sys_app_user
    </select>

</mapper>