<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BalanceReturnMapper">


    <insert id="saveBalanceReturn">
        insert into balance_return (return_order_info_id,number,type,customer_id) values (#{return_order_info_id},#{number},#{type},#{customer_id})
    </insert>

    <select id="findBalanceRetuenByOrderId" parameterType="pd" resultType="pd">
        select * from balance_return where return_order_info_id = #{return_order_info_id} and type !=3
    </select>
</mapper>