<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderGiftMapper">

    <insert id="saveGift">
        insert into order_gift (order_info_id,great_time,product_id
        <if test="num !=null">
            ,num
        </if>
        <if test="number !=null">
            ,number
        </if>
        )values (
        #{order_info_id},NOW(),#{product_id}
        <if test="num !=null">
            ,#{num}
        </if>
        <if test="number !=null">
            ,#{number}
        </if>
        )
    </insert>

    <update id="updateIsPass">
        update order_gift set is_back = #{is_back} where order_info_id  =#{order_info_id}
    </update>

    <select id="findGiftByOrderInfoId" parameterType="pd" resultType="pd">
        select og.*,p.*
        from order_gift og
        left join product p on og.product_id = p.product_id
        where og.order_info_id  =#{order_info_id}
    </select>

    <update id="editGiftBack">
        update order_gift set is_back  =#{is_back} where order_info_id = #{order_info_id}
    </update>
</mapper>