<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">

    <!--  新增商品  -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="product_id">
        INSERT INTO product(
            store_id,
            product_name,
            product_price,
            norms1,
            norms2,
            norms3,
            purchase_price,
            production_enterprise,
            product_img,
            date,
            kucun,
            type,
            bar_code,
            bar_code_number,
            supplier_id,
            number,
            url,
            number_tow,
            type2
        )VALUE (
            #{store_id},
            #{product_name},
            #{product_price},
            #{norms1},
            #{norms2},
            #{norms3},
            #{purchase_price},
            #{production_enterprise},
            #{product_img},
            #{date},
            #{kucun},
            #{type},
            #{bar_code},
            #{bar_code_number},
            #{supplier_id},
            #{number},
            #{url},
            #{number_tow},
            #{type2}
        )
    </insert>

    <!--  查询商品详情  -->
    <select id="findById" parameterType="pd" resultType="pd">
        SELECT
            product_id,
            store_id,
            product_name,
            product_price,
            purchase_price,
            production_enterprise,
            product_img,
            date,
            norms1,
            norms2,
            norms3,
            kucun,
            type,
            bar_code,
            bar_code_number,
            supplier_id,
            number as numbers,
            url,
            status,
            type2,
            likucun
        FROM product
        WHERE product_id=#{product_id}
    </select>

    <!--  查询店铺商品数量  -->
    <select id="findProductCount" parameterType="pd" resultType="pd">
        SELECT count(1) as count FROM product WHERE store_id=#{store_id} and status='0'
        <if test="type !=null and type !=''">
            and type = #{type}
        </if>
    </select>


    <!--  查询店铺全部商品  -->
    <select id="findProduct" parameterType="pd" resultType="pd">
         SELECT
            p.*,
            s.`name`,
            s.gname
        FROM(
            SELECT
                product_id,
                store_id,
                product_name,
                product_price,
                purchase_price,
                production_enterprise,
                product_img,
                date,
                norms1,
                norms2,
                norms3,
                kucun,
                type,
                bar_code,
                bar_code_number,
                supplier_id,
                number as numbers,
                url,
                status,
                type2,
                likucun
            FROM product
            WHERE store_id=#{store_id} and status='0'
            ORDER BY date DESC
            limit #{SHU1},10
        ) p
        LEFT JOIN supplier s on s.supplier_id=p.supplier_id
    </select>


    <!--  修改商品 -->
    <update id="updateProduct" parameterType="pd">
        UPDATE product
        SET  product_name=#{product_name},
             product_price=#{product_price},
             norms1=#{norms1},
             norms2=#{norms2},
             <if test="bar_code!=null and bar_code!=''">
                 bar_code=#{bar_code},
             </if>
             <if test="bar_code_number!=null and bar_code_number!=''">
                bar_code_number=#{bar_code_number},
             </if>
             <if test="number!=null and number!=''">
                 number=#{number},
            </if>
            <if test="url!=null">
                url=#{url},
            </if>
            <if test="type2!=null and type2!=''">
                type2=#{type2},
            </if>
             norms3=#{norms3},
             production_enterprise=#{production_enterprise},
             product_img=#{product_img},
             type=#{type}
        WHERE product_id=#{product_id}
    </update>

    <!--  删除商品  -->
    <delete id="delete" parameterType="pd">
        DELETE FROM product WHERE product_id=#{product_id}
    </delete>


    <!--  模糊查询商品  -->
    <select id="findlikeList" parameterType="pd" resultType="pd">
        SELECT
            p.*,
            s.`name`,
            s.gname
        FROM(
            SELECT
                product_id,
                store_id,
                product_name,
                product_price,
                purchase_price,
                production_enterprise,
                product_img,
                date,
                norms1,
                norms2,
                norms3,
                kucun,
                type,
                bar_code,
                bar_code_number,
                supplier_id,
                number as numbers,
                url,
                status,
                type2
            FROM product
        WHERE
        store_id=#{store_id}
        and status='0'
        and ( getPY(product_name) like concat(concat('%',#{product_name}),'%')
        OR POSITION(#{product_name} IN product_name))
        <if test="type !=null and type !=''">
            and type = #{type}
        </if>
        ORDER BY date DESC
        ) p
        LEFT JOIN supplier s on s.supplier_id=p.supplier_id
    </select>

    <!--  减库存  -->
    <update id="editNum" parameterType="pd">
        UPDATE product
        SET kucun=kucun-#{num}
        WHERE product_id=#{product_id}
    </update>

    <update id="editNumli" parameterType="pd">
        UPDATE product
        SET kucun=#{kucun},likucun=#{likucun}
        WHERE product_id=#{product_id}
    </update>

    <!--  加库存  -->
    <update id="editNumJia" parameterType="pd">
        UPDATE product
        SET kucun=kucun+#{num}
            <if test="purchase_price!=null and purchase_price!=''">
                ,purchase_price=#{purchase_price}
            </if>
        WHERE product_id=#{product_id}
    </update>

    <update id="editJiaNums" parameterType="pd">
        UPDATE product
        SET kucun=kucun+#{num},likucun = likucun+#{now_number}
        WHERE product_id=#{product_id}
    </update>

    <update id="editJiaNumsli" parameterType="pd">
        UPDATE product
        SET kucun=kucun+#{num},likucun = likucun+#{now_number}
        WHERE product_id=#{product_id}
    </update>


    <!--  修改库存  -->
    <update id="editNums" parameterType="pd">
        UPDATE product
        SET kucun=#{kucun}
        WHERE product_id=#{product_id}
    </update>

    <update id="editJianNums" parameterType="pd">
        UPDATE product
        SET kucun=kucun-#{num}
        WHERE product_id=#{product_id}
    </update>

    <update id="editJianNumsli" parameterType="pd">
        UPDATE product
        SET likucun=likucun-#{now_number}
        WHERE product_id=#{product_id}
    </update>

    <!--  查询商品利润  -->
    <select id="findProductProfit" parameterType="pd" resultType="pd">
        SELECT
            p.product_id,
            p.product_price,
            p.purchase_price,
            p.product_name,
            p.product_price * p.num AS profit,
            p.purchase_price * p.num AS receivable,
            p.num,
            p.product_img,
            p.kucun
        FROM
            (
                SELECT
                  p.product_id,
                  p.product_price,
                  p.purchase_price,
                  p.product_name,
            IFNULL(
                  (
                    SELECT
                      SUM(op.num)
                    FROM
                    order_pro op
                    LEFT JOIN order_info o ON o.order_info_id = op.order_info_id
                    WHERE
                    op.product_id = p.product_id
                    AND DATE(o.date) &gt;=#{startTime} AND DATE(o.date)&lt;= #{endTime}
                    <if test="product_name!=null and product_name!=''">
                        AND POSITION(#{product_name} IN `product_name`)
                    </if>
                    <if test="type!=null and type!=''">
                        AND type=#{type}
                    </if>
                    GROUP BY
                  op.product_id
             ),0
            ) AS num,
            p.product_img,
            p.kucun,
            p.status
          FROM
            product p
          WHERE
          store_id = #{store_id} and status='0'
          <if test="product_name!=null and product_name!=''">
              and POSITION(#{product_name} IN `product_name`)
          </if>
        ) p
    </select>

    <!--<select id="findProductProfitList" parameterType="pd" resultType="pd">
        SELECT
            product_id,
            store_id,
            product_name,
            product_price,
            purchase_price,
            production_enterprise,
            product_img,
            date,
            norms1,
            norms2,
            norms3,
            kucun,
            type,
            bar_code,
            bar_code_number,
            number as numbers,
            url,
            status
        FROM product
        where store_id=#{store_id} and status='0' AND (purchase_price='0' OR purchase_price!='')
        <if test="product_name!=null and product_name!=''">
            AND POSITION(#{product_name} IN `product_name`)
        </if>
   </select>-->


    <!--  根据条形码号查询商品  -->
    <select id="findBarCodeProduct" parameterType="pd" resultType="pd">
        SELECT
            product_id,
            store_id,
            product_name,
            product_price,
            purchase_price,
            production_enterprise,
            product_img,
            date,
            norms1,
            norms2,
            norms3,
            kucun,
            type,
            bar_code,
            bar_code_number,
            supplier_id,
            number as numbers,
            url,
            status,
            type2
        FROM product
        WHERE store_id=#{store_id} and status='0' and bar_code_number=#{bar_code_number}
        limit 1
    </select>



    <!--  根据条形码号查询商品  -->
    <select id="findBarCodeProducts" parameterType="pd" resultType="pd">
        SELECT
            product_id,
            store_id,
            product_name,
            product_price,
            purchase_price,
            production_enterprise,
            product_img,
            date,
            norms1,
            norms2,
            norms3,
            kucun,
            type,
            bar_code,
            bar_code_number,
            supplier_id,
            number as numbers,
            url,
            status,
            type2
        FROM product
        WHERE store_id=#{store_id} and status='0' and bar_code_number=#{bar_code_number}
        ORDER BY date DESC
    </select>


    <!--   查询商品进货价   -->
    <!--以前的
        SELECT
	      SUM(p.money) AS money
        FROM
        (
            SELECT
                IFNULL(purchase_price * nums, 0) AS money
            FROM
                kuncun
            WHERE
                store_id = #{store_id}
            AND `status` = '2'
            AND nums > 0
        ) p
    -->
    <select id="findKuCun" parameterType="pd" resultType="pd">
        SELECT
	      SUM(p.money) AS money
        FROM
        (
            SELECT
                IFNULL(purchase_price * kucun, 0) AS money
            FROM
                product
            WHERE
                store_id = #{store_id}
            AND kucun > 0
        ) p
    </select>


    <!--  根据类型查询商品  -->
    <select id="findListType" parameterType="pd" resultType="pd">
        SELECT
            product_id,
            store_id,
            product_name,
            product_price,
            purchase_price,
            production_enterprise,
            product_img,
            date,
            norms1,
            norms2,
            norms3,
            kucun,
            type,
            bar_code,
            bar_code_number,
            supplier_id,
            number as numbers,
            url,
            status,
            type2
        FROM product
        WHERE store_id=#{store_id} and status='0'
        <if test="type!=null and type!=''">
            and type=#{type}
        </if>
        ORDER BY date DESC
    </select>

    <!--  根据类型查询商品  -->
    <select id="selectProductLevel" parameterType="pd" resultType="pd">
        SELECT *
        FROM product
        WHERE store_id=#{store_id} and status='0'
        <if test="type!=null and type!=''">
            and type=#{type}
        </if>
        <if test="product_name !=null and product_name !=''">
            and product_name like concat('%',#{product_name},'%')
        </if>
        ORDER BY date DESC
    </select>

    <select id="selectLevel" resultType="pd">
        select * from shopper_sale where product_id  =#{product_id} and uid = #{uid} order by id desc limit 1
    </select>

    <!--  关联供应商  -->
    <update id="editSupplierId" parameterType="pd">
        UPDATE product
        SET supplier_id=#{supplier_id}
        WHERE product_id=#{product_id}
    </update>


    <!--  根据供应商查询商品  -->
    <select id="findSupplierList" parameterType="pd" resultType="pd">
        SELECT
            p.*,
            s.`name`,
            s.gname
        FROM(
            SELECT
                product_id,
                store_id,
                product_name,
                product_price,
                purchase_price,
                production_enterprise,
                product_img,
                date,
                norms1,
                norms2,
                norms3,
                kucun,
                type,
                bar_code,
                bar_code_number,
                supplier_id,
                number as numbers,
                url,
                status,
                type2
            FROM product
            WHERE status='0' and store_id=#{store_id}
            <if test="supplier_id!=null and supplier_id!=''">
                and supplier_id=#{supplier_id}
            </if>
            <if test="name!=null and name!=''">
                AND POSITION(#{name} IN `product_name`)
            </if>
            ORDER BY date DESC
        ) p
        LEFT JOIN supplier s on s.supplier_id=p.supplier_id
    </select>

    <!--  查询某个供应商的商品数量  -->
    <select id="findCount" parameterType="pd" resultType="pd">
        SELECT
         count(1) as count
        FROM product
        WHERE supplier_id=#{supplier_id} and status='0'
    </select>


    <!--  查询未关联供应商的商品  -->
    <select id="SupplierdatalistPage" parameterType="page" resultType="pd">
        SELECT
            product_id,
            store_id,
            product_name,
            product_price,
            purchase_price,
            production_enterprise,
            product_img,
            date,
            norms1,
            norms2,
            norms3,
            kucun,
            type,
            bar_code,
            bar_code_number,
            supplier_id,
            number as numbers,
            url,
            status,
            type2
        FROM product
        WHERE store_id=#{pd.store_id} and status='0' and supplier_id='0'
        ORDER BY date DESC
    </select>

    <!--  模糊查询店铺未关联的商品  -->
    <select id="findLikeSupplierProduct" parameterType="pd" resultType="pd">
        SELECT
            product_id,
            store_id,
            product_name,
            product_price,
            purchase_price,
            production_enterprise,
            product_img,
            date,
            norms1,
            norms2,
            norms3,
            kucun,
            type,
            bar_code,
            bar_code_number,
            supplier_id,
            number as numbers,
            url,
            status,
            type2
        FROM product
        WHERE store_id=#{pd.store_id} and status='0' and supplier_id='0'
        and POSITION(#{name} IN `product_name`)
        ORDER BY date DESC
    </select>

    <!--  根据登记账号查询  -->
    <select id="findByNumber" parameterType="pd" resultType="pd">
        SELECT
            product_id,
            store_id,
            product_name,
            product_price,
            purchase_price,
            production_enterprise,
            product_img,
            date,
            norms1,
            norms2,
            norms3,
            kucun,
            type,
            bar_code,
            bar_code_number,
            supplier_id,
            number as numbers,
            url,
            status,
            number_tow,
            type2
        FROM product
        WHERE store_id=#{store_id} and status='0'
        <if test="statuss==1">
             and number=#{number}
        </if>
        <if test="statuss==2">
            and number_tow=#{number} and POSITION(#{type} IN number)
        </if>
        ORDER BY date
        limit 1
    </select>


    <!--  根据登记账号查询  -->
    <select id="findByNumbers" parameterType="pd" resultType="pd">
        SELECT
            product_id,
            store_id,
            product_name,
            product_price,
            purchase_price,
            production_enterprise,
            product_img,
            date,
            norms1,
            norms2,
            norms3,
            kucun,
            type,
            bar_code,
            bar_code_number,
            supplier_id,
            number as numbers,
            url,
            status,
            number_tow,
            type2
        FROM product
        WHERE store_id=#{store_id} and status='0'
        <if test="statuss==1">
            and number=#{number}
        </if>
        <if test="statuss==2">
            and number_tow=#{number} and POSITION(#{type} IN number)
        </if>
        ORDER BY date
    </select>

    <!--  逻辑删除商品  -->
    <update id="editStatus" parameterType="pd">
        UPDATE product
        SET status='1'
        WHERE product_id=#{product_id}
    </update>



    <!--  查询商品分析  -->
    <select id="findProductFenXi" parameterType="pd" resultType="pd">
        SELECT
            o.product_id,
            p.product_price,
            p.purchase_price,
            p.product_name,
            o.profit,
            o.receivable,
            o.num,
            o.cha,
            p.product_img,
            p.kucun
        FROM
        (
            SELECT
                IFNULL(SUM(nums * purchase_price),0) as receivable,
                IFNULL(SUM(nums * product_price),0) as profit,
                IFNULL(SUM(nums),0) as num,
                (IFNULL(  IFNULL(SUM(nums * product_price),0) -SUM(nums * purchase_price),0) ) cha,
                product_id,
                revokes
            FROM
            order_kuncun
            WHERE
            store_id = #{store_id} and revokes='0' and DATE(date) &gt;=#{startTime} AND DATE(date)&lt;= #{endTime}
            GROUP BY
            product_id
        ) o
        LEFT JOIN product p ON p.product_id = o.product_id
        <where>
            <if test="product_name!=null and product_name!=''">
                AND POSITION(#{product_name} IN p.product_name)
            </if>
            <if test="type!=null and type!=''">
                AND p.type=#{type}
            </if>
        </where>
        order by o.cha DESC
    </select>

    <!--  查询供应商分析  -->
    <select id="findSupplierFeiXi" parameterType="pd" resultType="pd">
        SELECT
            o.*,
            IFNULL((SELECT SUM(total) from supplier_order_pro s where s.product_id=o.product_id and s.revokes='0'),0) as receivable
        FROM
	    (
            SELECT
                IFNULL(
                    SUM(o.nums * o.product_price),
                    0
                ) AS profit,
                IFNULL(SUM(o.nums), 0) AS num,
                o.product_id,
                p.product_price,
                p.purchase_price,
                p.product_name,
                p.product_img,
                p.kucun,
                p.supplier_id,
                o.revokes
            FROM
                order_kuncun o
            LEFT JOIN product p ON p.product_id = o.product_id
            WHERE p.supplier_id=#{supplier_id} and o.revokes='0'
            GROUP BY
                p.product_id
	    ) o
    </select>


    <select id="findReportAnalysis" parameterType="pd" resultType="pd">
        SELECT
            date(dday) date,
            SUM(receivable) AS receivable,
            SUM(profit) AS profit
        FROM
            (
                SELECT
                    datelist AS dday,
                    '0' AS receivable,
                    '0' AS profit
                FROM
                    calendar
                WHERE 1=1
                <if test="startTime!=null and startTime!=''">
                    and DATE(datelist) &gt;=#{startTime}
                </if>
                <if test="endTime!=null and endTime!=''">
                    and DATE(datelist) &lt;=#{endTime}
                </if>
                UNION ALL
                    SELECT
                        date,
                        IFNULL(SUM(nums * purchase_price), 0) AS receivable,
                        IFNULL(SUM(nums * product_price), 0) AS profit
                    FROM
                        order_kuncun
                    WHERE store_id = #{store_id}
                    <if test="product_id!=null and product_id!=''">
                       and product_id =#{product_id}
                    </if>
                    <if test="startTime!=null and startTime!=''">
                        and DATE(date) &gt;=#{startTime}
                    </if>
                    <if test="endTime!=null and endTime!=''">
                        and DATE(date) &lt;=#{endTime}
                    </if>
            ) a
            GROUP BY
                date
    </select>

    <select id="findReportAnalysisYue" parameterType="pd" resultType="pd">
        SELECT
            dday AS date,
            SUM(receivable) AS receivable,
            SUM(profit) AS profit
        FROM
        (
            SELECT
                DATE_FORMAT(datelist, '%Y-%m') AS dday,
                '0' AS receivable,
                '0' AS profit
            FROM
              calendar
            WHERE
              1 = 1
            <if test="startTime!=null and startTime!=''">
                and DATE(datelist) &gt;=#{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                and DATE(datelist)&lt;=#{endTime}
            </if>
            UNION ALL
            SELECT
                DATE_FORMAT(date, '%Y-%m'),
                IFNULL(SUM(nums * purchase_price), 0) AS receivable,
                IFNULL(SUM(nums * product_price), 0) AS profit
            FROM
                order_kuncun
            WHERE store_id = #{store_id}
            <if test="product_id!=null and product_id!=''">
                AND product_id=#{product_id}
            </if>
            <if test="startTime!=null and startTime!=''">
                and DATE(date) &gt;=#{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                and DATE(date) &lt;=#{endTime}
            </if>
        ) a
        GROUP BY
        date
    </select>


    <select id="findReportAnalysisXiaoShi" parameterType="pd" resultType="pd">
        SELECT
            dday AS date,
            SUM(money) AS money,
            SUM(total_money) AS total_money
        FROM
        (
            SELECT
                datelist AS dday,
                '0' AS money,
                '0' AS total_money
            FROM
            calendar_copy
        UNION ALL
        SELECT
                DATE_FORMAT(date, '%H'),
                IFNULL(SUM(nums * purchase_price), 0) AS receivable,
                IFNULL(SUM(nums * product_price), 0) AS profit
            FROM
                order_kuncun
            WHERE
               store_id = #{store_id}
        <if test="product_id!=null and product_id!=''">
            AND product_id=#{product_id}
        </if> and DATE(date)=#{startTime}
        ) a
        GROUP BY
        date
        order by cast(date as SIGNED INTEGER)
    </select>

    <select id="findSumProductMoney" parameterType="pd" resultType="pd">
        SELECT
            IFNULL(SUM(ok.nums * ok.purchase_price), 0) AS receivable,
            IFNULL(SUM(ok.nums * ok.product_price), 0) AS profit
        FROM
	      order_kuncun ok
        LEFT JOIN order_pro op on op.order_pro_id=ok.order_pro_id
        WHERE ok.store_id = #{store_id} and op.revokes='0'
        <if test="product_id!=null and product_id!=''">
            and ok.product_id=#{product_id}
        </if>
        <if test="startTime!=null and startTime!=''">
            and DATE(ok.date) &gt;=#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and DATE(ok.date) &lt;=#{endTime}
        </if>
    </select>


    <!--<select id="findProductFeiXis" parameterType="pd" resultType="pd">
        SELECT
            p.product_price,
            p.product_img,
            p.kucun,
            p.product_price,
            p.product_id,
            p.product_id,
            p.product_name,
            '0' as revokes,
        IFNULL((SELECT SUM(ok.nums*ok.product_price)  from order_kuncun ok
        LEFT JOIN order_pro op on op.order_pro_id=ok.order_pro_id
        where ok.product_id=p.product_id and op.revokes='0'
        <if test="startTime!=null and startTime!=''">
            and DATE(ok.date) &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and DATE(ok.date) &lt;= #{endTime}
        </if>),0) as profit,
        IFNULL((SELECT SUM(ok.nums*ok.purchase_price) from order_kuncun ok
        LEFT JOIN order_pro op on op.order_pro_id=ok.order_pro_id
        where ok.product_id=p.product_id and op.revokes='0'
        <if test="startTime!=null and startTime!=''">
            and DATE(ok.date) &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and DATE(ok.date) &lt;= #{endTime}
        </if>),0) as receivable,
        IFNULL((SELECT SUM(ok.nums) as saledec from order_kuncun ok
        LEFT JOIN order_pro op on op.order_pro_id=ok.order_pro_id
        where ok.product_id=p.product_id and op.revokes='0'
        <if test="startTime!=null and startTime!=''">
            and DATE(ok.date) &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and DATE(ok.date) &lt;= #{endTime}
        </if>),0) as num
        from product p
        WHERE p.store_id=#{store_id}
        <if test="product_name!=null and product_name!=''">
            and POSITION(#{product_name} IN p.product_name)
        </if>
        <if test="type !=null and type ==1">
            ORDER BY num ASC
        </if>
        <if test="type !=null and type ==2">
            ORDER BY num DESC
        </if>
        <if test="type !=null and type ==3">
            ORDER BY profit ASC
        </if>
        <if test="type !=null and type ==4">
            ORDER BY profit DESC
        </if>
    </select>-->
    <select id="findProductFeiXis" parameterType="pd" resultType="pd">
        SELECT
        p.product_price,
        p.product_img,
        p.kucun,
        p.product_price,
        p.product_id,
        p.product_id,
        p.product_name,
        '0' as revokes,
        IFNULL((SELECT SUM(ok.nums*ok.product_price)  from order_kuncun ok
        LEFT JOIN order_pro op on op.order_pro_id=ok.order_pro_id
        where ok.product_id=p.product_id and op.revokes='0'),0) as profit,
        IFNULL((SELECT SUM(ok.nums*ok.purchase_price) from order_kuncun ok
        LEFT JOIN order_pro op on op.order_pro_id=ok.order_pro_id
        where ok.product_id=p.product_id and op.revokes='0'),0) as receivable,
        IFNULL((SELECT SUM(ok.nums) as saledec from order_kuncun ok
        LEFT JOIN order_pro op on op.order_pro_id=ok.order_pro_id
        where ok.product_id=p.product_id and op.revokes='0'),0) as num,
        IFNULL((SELECT SUM(ok.nums*ok.product_price)  from order_kuncun ok
        LEFT JOIN order_pro op on op.order_pro_id=ok.order_pro_id
        where ok.product_id=p.product_id and op.revokes='0')-(SELECT SUM(ok.nums*ok.purchase_price) from order_kuncun ok
        LEFT JOIN order_pro op on op.order_pro_id=ok.order_pro_id
        where ok.product_id=p.product_id and op.revokes='0')
        ,0) as rec
        from product p
        WHERE p.store_id=#{store_id}
        <if test="product_name!=null and product_name!=''">
            and POSITION(#{product_name} IN p.product_name)
        </if>
        <if test="typeName !=null and typeName !=''">
            and p.type = #{typeName}
        </if>
        <if test="type !=null and type ==1">
            ORDER BY num ASC
        </if>
        <if test="type !=null and type ==2">
            ORDER BY num DESC
        </if>
        <if test="type !=null and type ==3">
            ORDER BY rec ASC
        </if>
        <if test="type !=null and type ==4">
            ORDER BY rec DESC
        </if>
        limit #{pageNumber},#{pageSize}
    </select>

    <select id="findProductPrice" parameterType="pd" resultType="pd">
        select
        nums,purchase_price,likucun
        from kuncun
        where product_id = #{product_id} and store_id = #{store_id} and status = 2
    </select>

    <update id="editNumslikucun">
        update product set likucun = 0 where product_id=#{product_id}
    </update>

    <select id="selectSaleLevel" resultType="pd">
        select * from shopper_sale sa where sa.uid  =#{uid} and sa.type = 1 order by id desc limit 1
    </select>

    <select id="findSaleLevel" resultType="pd">
        select * from shopper_sale sa where sa.uid  =#{uid} and sa.type = 2 and sa.product_id  =#{product_id} order by sa.id desc limit 1
    </select>

    <select id="findproductall" resultType="pd">
        select product_id,product_img from product
    </select>
    <update id="editProductall">
        update product set product_img = #{product_img} where product_id = #{product_id}
    </update>

    <update id="editProductallxx">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE product
            <set>
                product_img=#{item.product_img}
            </set>
            <where>
                product_id = #{item.product_id}
            </where>
        </foreach>
    </update>
</mapper>