<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IntegralDetailMapper">

    <select id="findUserIntegrallist" parameterType="pd" resultType="pd">
        select * from integral_detail where user_id =#{user_id} order by id desc
    </select>

    <select id="findIntegralDetail" parameterType="pd" resultType="pd">
        select * from integral_detail where id = #{id}
    </select>

    <insert id="saveIntegralDetail">
        insert into integral_detail (
        order_id,
        status,
        integral,
        great_time,
        user_id,
        open_user,
        remark
        )values (
        #{order_id},#{status},#{integral},NOW(),#{customer_id},#{open_user},#{remark}
        )
    </insert>

    <select id="findIntegralDetailById" parameterType="pd" resultType="pd">
        select * from integral_detail where id = #{id}
    </select>
    <update id="editIntegralDetailById">
        update integral_detail set undos = #{undo},back_user = #{back_user},back_time = NOW() where id = #{id}
    </update>

    <select id="findIntegralDetailCountByOrderId" parameterType="pd" resultType="java.lang.Integer">
        select count(*) from integral_detail where order_id = #{order_info_id} and undos = 0 and type = 0
    </select>

    <update id="editIntegralDetailByOrderId">
        update integral_detail set undos = #{undo} where order_id = #{order_info_id} and type = 0
    </update>

    <select id="findIntegralDetailByOrderId" parameterType="pd" resultType="pd">
        select * from integral_detail where order_id = #{order_info_id} and type = 0
    </select>
    <insert id="saveIntegralReturn">
        insert into integral_detail (order_id,status,integral,user_id,type,open_user,great_time)
        values (#{order_id},#{status},#{integral},#{user_id},#{type},#{open_user},NOW());
    </insert>

    <select id="findIntegralDetailByOrderIdAndType" parameterType="pd" resultType="pd">
        select * from integral_detail where order_id = #{order_info_id} and is_pass = #{is_pass} and undos = 0 and type =1
    </select>
    <select id="findIntegralDetailsCountByOrderId" resultType="java.lang.Integer">
        select count(*) from integral_detail where order_id = #{order_info_id} and is_pass = #{is_pass} and undos = 0 and type = 1
    </select>

    <update id="editIntegralDetailPassById">
        update integral_detail set is_pass = #{is_pass} where id = #{id}
    </update>

    <select id="findIntegralDetailListByOrderId" parameterType="pd" resultType="pd">
        select * from integral_detail where order_id = #{order_info_id}
    </select>

    <select id="findIntegralDetailReturnByOrderId" parameterType="pd" resultType="pd">
        select * from integral_detail where order_id = #{order_info_id} and type = 1 order by id desc limit 1
    </select>
</mapper>